<section class="innbanner">
    <h2 id="backdrop">Blood Bank</h2>
  </section>
<section>
    <div>
       <div class="col-12" style="padding-top:1rem;">
            <div class="title text-center event">
                <h2 style="font-size: large;">LIST OF BLOOD BANKS OF UTTAR PRADESH</h2>
                <div class="border"></div>
            </div>
        </div>
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead class="bloodbankhead">
                                <tr class="table-primary key-personel">
                                    <th>Sl.No</th>
                                    <th class="text-left">Division</th>
                                    <th class="text-left">District</th>
                                    <th class="text-left"> Name</th>
                                    <th class="text-left"> Address</th>
                                    <th class="text-left"> Detail</th>
                                </tr>
                            </thead>
                            <tbody style="font-size:16px;" class="bloodbank-table">
                                <tr>
                                    <td>1</td>
                                    <td> Uttar Pradesh</td>
                                    <td> Uttar Pradesh </td>
                                    <td> Mother Teresa Blood Bank Moradabad</td>
                                    <td> Blood & plasma donation center
                                        Z-3, 2, MDA Colony, Ashiyana Colony, Moradabad, Uttar Pradesh</td>
                                    <td>075790 20008</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Uttar Pradesh </td>
                                    <td>Uttar Pradesh </td>
                                    <td>Siddh Hospital Moradabad</td>
                                    <td>Blood & plasma donation center
                                        Siddh Hospital, Kanth Rd, Ashiyana Colony, Industrial Area, Harthala, Moradabad, Uttar Pradesh</td>

                                    <td> +91-6396852007 / +91-6396852016 / +91-6396853330</td>

                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Uttar Pradesh </td>
                                    <td>Uttar Pradesh </td>
                                    <td>Janata Blood Bank</td>
                                    <td> B-22, Gandhi Nagar Park, Gandhi Nagar Road, Gandhi Nagar, Moradabad, Uttar Pradesh 244001</td>
                                    <td> 0591 2490640</td>

                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Uttar Pradesh </td>
                                    <td>Uttar Pradesh </td>
                                    <td> Sri Sai Hospital</td>
                                    <td> Delhi Road, Moradabad, Uttar Pradesh 244001</td>
                                    <td> 0591 2479800</td>

                                </tr>
                                
                         
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            </div>
</section>
