<section class="innbanner">
    <img  src="assets/images/shareholding.jpg">
    <h2 id="backdrop">Shareholding Pattern</h2>
</section>
<section class="uk-section-small">
    <div class="uk-container">
        <div class="uk-width-expand@m uk-width-1-1">
            <h2 class="innheadd">Who Governs Us ?</h2>
            <p>Being an institution of Local Government we have a distinct difference between the two wings</p>
            <ul class="shareholdinglist">
                <li>Legislature</li>
                <li>Executive</li>
            </ul><br>
            <p>Our Legislature is a governing Body. This Governing Body which is elected by the citizens living within the 
                geographical area of ours. The geographical area has been carved out into – electoral wards . 
                Each ward elects a representative to be sent to the Governing Body. The other members of the Governing Body are:</p>
                <ul class="shareholdinglist">
                    <li>MLA</li>
                    <li>MP</li>
                    <li>Municipal Commissioner</li>
                    <li>District Magistrate</li>
                </ul><br>
            <p>The elections for the governing body is conducted by the State Election Commission. Any person with more than 18 years is
                 eligible to vote in the elections (certain restrictions do apply. For details please contact the State Election
                  Commission which has its office at Lucknow , Uttar Pradesh). The governing body works within the constitutional 
                  framework and the acts made by the Uttar Pradesh Government.</p>
            <p>The Executive Wing is headed by the Municipal Commissioner . The Municipal Commissioner is most often a state government 
                officer belonging to the PCS (Provincial Civil Services) cadre and is treated as being on deputation from the state 
                government to us (the ULB). He brings the administrative experience require to execute the day to day works and 
                functioning of the ULB. He ia ably assisted by a team of officials belonging to the ULB with a longer tenure at the ULB.
                 More information on the Human Resources of the ULB can be had from the section (Manpower) of the Menu (About us) 
                 of this website.</p>

                 <h2 class="innheadd">Legal Provisions</h2>
                 <p style="color: green;">THE 74 TH AMENDMENT ACT PROMULGATED BY THE PARLIAMENT HAS THE FOLLOWING MAJOR PROVISIONS :</p>
                 <p>The Uttar Pradesh Government has made many changes related to the framework setup by the 74 th
                      constitutional amendment some of which are :
                </p>
                <ul class="shareholdinglist">
                    <li>Setting up of a State Election Commission</li>
                    <li>Setting up of a State Finance Commission</li>
                </ul>
                <h2 class="innheadd">What We Do</h2>
                <p>We do a lot of things to make life a better experience in the geographical area specified for us by the state government.</p>
                <p style="color: green;">SOME OF OUR WORKS ARE :</p>
                <ul class="shareholdinglist">
                    <li>Creation of Street Light Network and ensuring proper street lighting in the nights</li>
                    <li>Setting up of a State Finance Commission</li>
                    <li>Creation of Water Supply Network, maintaining it and ensuring sufficient quantity of water is available for the citizens</li>
                    <li>Creation of Road network and its maintenance</li>
                </ul><br>
                <p style="color: green;">PROVISION OF OTHER CIVIC SERVICES LIKE:</p>
                <ul class="shareholdinglists">
                    <li>Birth And Death Registration and issue of necessary certificates</li>
                    <li>Horticulture Development in our area</li>
                    <li>Parks Development and Maintenance</li>
                </ul>
        </div>
    </div>
</section>
