<section class="innbanner">
    <h2>Tourist places</h2>
</section>

<section id="tourist-place" class="about-us">
    <div class="container">
        <div class="place">
        <h3 style="padding-left:15px;">Raza Library Moradabad</h3>
        <div class="row travel-medium">
            <div class="col-md-6 col-lg-6">
                <p class="date"><span uk-icon="location" class="uk-margin-small-right uk-icon"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill="none" stroke="#000" stroke-width="1.01" d="M10,0.5 C6.41,0.5 3.5,3.39 3.5,6.98 C3.5,11.83 10,19 10,19 C10,19 16.5,11.83 16.5,6.98 C16.5,3.39 13.59,0.5 10,0.5 L10,0.5 Z">
                    </path>
                    <circle fill="none" stroke="#000" cx="10" cy="6.8" r="2.3">
                    </circle>
                </svg></span> Moradabad</p>

                <p>The Rampur Raza Library (Rāmpur Razā Kitāb Khāna) located in Rampur, Uttar Pradesh, India is a repository of Indo-Islamic cultural heritage and a treasure-house of knowledge established in the last decades of the 18th century. It was built up by successive Nawabs of Rampur and is now managed by the Government of India on the name of Raza Ali Khan of Rampur.</p>
                <p>After Rampur State joined the Union of India, in 1949 the Library was controlled by the management of a Trust which was created on 6 August 1951. The Trust management continued until July 1975.
                Prof. S. Nurul Hasan, Minister for Education, Social Welfare and Culture of the Govt. of India, came repeatedly to the Library and took a serious view of the neglected condition of this precious heritage.</p>
            </div>
           
            <div class="col-xl-6 pl-0 pl-lg-6 pr-lg-1 d-flex align-items-stretch travel_guide">
                <div class="content d-flex flex-column justify-content-center">
                    <div class="how_to_reach">
                        <h4>How To Reach</h4>
                        <div class="travel_medium">
                            <div class="medium">
                                <div class="travel_medium_icon">
                                    <span class="icon-travel "><img src="assets/images/airplane-icon.png" alt=""></span>
                                </div>
                                <div class="travel_medium_text">
                                    <h5>By Air</h5>
                                    <p>The nearest working domestic airport is Pant Nagar City, 86 km away, the second airport is Dehradun Airport. Muradabad is 175 km away from the Dehradun Airport (DED), Dehradun, Uttarakhand. IGI Delhi is 154 km away. Moradabad airport in Mundapanday is not yet open for domestic traffic.</p>
                                </div>
                            </div>

                            <div class="medium">
                                <div class="travel_medium_icon">
                                    <span class="icon-travel"><img src="assets/images/train-icon.png" alt=""></span>
                                </div>
                                <div class="travel_medium_text">
                                    <h5>By Train</h5>
                                    <p>Its is less than  1Km away from Moradabad Railway station.</p>
                                </div>
                            </div>
                        
                            <div class="medium">
                                <div class="travel_medium_icon">
                                    <span class="icon-travel"><img src="assets/images/bus-icon.png" alt=""></span>
                                </div>
                                <div class="travel_medium_text">
                                    <h5>By Road</h5>
                                    <p>Moradabad bus stand is 1.3 km from here . Auto and E-Rickshaw are easily available from bus stand and station road.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <!-- End .content-->
            </div>
        </div>

        <div class="row travel_gallery">
            <div class="col-md-12 col-lg-12">
                <section>
                    <div class="uk-position-relative uk-visible-toggle" tabindex="-1" uk-slider="clsActivated: uk-transition-active; center: true; autoplay:true; pause-on-hover:false">
                   
                       <ul class="uk-slider-items mains uk-grid">
                           <li class="uk-width-1-1">
                               <div class="uk-panel">
                                   <img src="assets/images/raja-lib-1.jpg" alt="">
                                   <div class="uk-overlay uk-overlay-primary uk-padding-small uk-position-bottom uk-text-center uk-transition-slide-bottom">
                                       <p class="uk-margin-remove text-white">Raza Library Moradabad</p>
                                   </div>
                               </div>
                           </li>
                           <li class="uk-width-1-1">
                              <div class="uk-panel">
                                 <img src="assets/images/raja-lib-2.jpg" alt="">
                                 <div class="uk-overlay uk-overlay-primary uk-padding-small uk-position-bottom uk-text-center uk-transition-slide-bottom">
                                    <p class="uk-margin-remove text-white">Raza Library Moradabad</p>
                                 </div>
                              </div>
                           </li>
                          <li class="uk-width-1-1">
                             <div class="uk-panel">
                                <img src="assets/images/raja-lib-3.jpg" alt="">
                                <div class="uk-overlay uk-overlay-primary uk-padding-small uk-position-bottom uk-text-center uk-transition-slide-bottom">
                                   <p class="uk-margin-remove text-white">Raza Library Moradabad</p>
                                </div>
                             </div>
                          </li>
                       </ul>
                       <a class="uk-position-center-left uk-position-small" uk-slidenav-previous uk-slider-item="previous" style="z-index:1000;color:white;background-color: #00000057;"></a>
                       <a class="uk-position-center-right uk-position-small" uk-slidenav-next uk-slider-item="next" style="z-index:1000;color:white;background-color: #00000057;"></a>
                    </div>
                 </section>
            </div>
        </div>

    </div>
</section>

