

<section style="margin-top: 80px;">
    <div class="uk-position-relative  uk-visible-toggle uk-light" tabindex="-1"
        uk-slideshow="autoplay:true; min-height: 500; max-height: 500;ratio: 7:3;animation:push;">

        <ul class="uk-slideshow-items">
            <li>
                <div
                    class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left">
                    <img src="assets\fst img\forestpicture\BlackForest-Germany-GettyImages-147180370.webp" alt=""
                        uk-cover>
                    <div class="uk-position-center uk-position-small uk-text-center uk-light" style="left: 50%;">

                        <h2 class="uk-margin-remove" style=" margin-left: 750px;color:  white; font-weight:900px">
                            Welcome To<br>
                            <marquee width="100%" direction="up" height="100px">
                                <span class="purple">Odisha <span data-typer-targets="Smart, Clean"> Forest</span>
                                    Department</span>
                            </marquee>
                            <h3 class="" style="color:white"><span class="purple"> ଓଡ଼ିଶା ଜଙ୍ଗଲ ବିଭାଗକୁ ସ୍ୱାଗତ
                                    |</span></h3>
                        </h2>
                    </div>
                </div>
            </li>
            <li>
                <div
                    class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left">
                    <img src="assets\fst img\forestpicture\chandaka2.jpg" alt="" uk-cover>
                    <div class="uk-position-center uk-position-small uk-text-center uk-light" style="left: 45%;">

                        <h2 class="uk-margin-remove" style=" margin-left: 750px;color:  white; font-weight:900px">
                            Welcome To<br>
                            <marquee width="100%" direction="up" height="100px">
                                <span class="purple">Odisha <span data-typer-targets="Smart, Clean"> Forest</span>
                                    Department</span>
                            </marquee>
                            <h3 class="" style="color:white"><span class="purple">ଓଡ଼ିଶା ଜଙ୍ଗଲ ବିଭାଗକୁ ସ୍ୱାଗତ |</span>
                            </h3>
                        </h2>
                    </div>
                </div>
            </li>
            <li>
                <div
                    class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left">
                    <img src="\assets\images\forest1.jpg" alt="" uk-cover>
                    <div class="uk-position-center uk-position-small uk-text-center uk-light" style="left: 45%;">

                        <h2 class="uk-margin-remove" style=" margin-left: 750px;color:  white; font-weight:900px">
                            Welcome To<br>
                            <marquee width="100%" direction="up" height="100px">
                                <span class="purple">Odisha <span data-typer-targets="Smart, Clean"> Forest</span>
                                    Department</span>
                            </marquee>
                            <h3 class="" style="color: white"><span class="purple">ଓଡ଼ିଶା ଜଙ୍ଗଲ ବିଭାଗକୁ ସ୍ୱାଗତ |</span>
                            </h3>
                        </h2>
                    </div>
                </div>
            </li>
            <li>
                <div
                    class="uk-position-cover uk-animation-kenburns uk-animation-reverse  uk-transform-origin-top-right">
                    <img src="\assets\images\forest2.jpg" alt="" uk-cover>
                    <div class="uk-position-center uk-position-small uk-text-center uk-light" style="left: 75%;">
                        <h2 class="uk-margin-remove" style="float:right; margin-left: 350px;color: white">Welcome To<br>
                            <marquee width="100%" direction="up" height="100px" style="left: 10%;">
                                <span class="purple">Odisha <span data-typer-targets="Smart, Clean"> Forest</span>
                                    Department</span>
                            </marquee>
                            <h3 class="" style="color:white"><span class="purple">ଓଡ଼ିଶା ଜଙ୍ଗଲ ବିଭାଗକୁ ସ୍ୱାଗତ |</span>
                            </h3>
                        </h2>
                    </div>
                </div>
            </li>
            <li>
                <div
                    class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-bottom-left">
                    <img src="\assets\images\forest4.jpg" alt="" uk-cover>
                    <div class="uk-position-center uk-position-small uk-text-center uk-light">
                        <h2 class="uk-margin-remove" style="float:right; margin-left: 350px; color: white"> Welcome
                            To<br>
                            <marquee width="100%" direction="up" height="100px">
                                <span class="purple">Odisha <span data-typer-targets="Smart, Clean"> Forest</span>
                                    Department</span>
                            </marquee>
                            <h3 class="" style="color: white"><span class="purple">ଓଡ଼ିଶା ଜଙ୍ଗଲ ବିଭାଗକୁ ସ୍ୱାଗତ
                                    |</span></h3>
                        </h2>
                    </div>
                </div>
            </li>

            <li>
                <div
                    class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-bottom-left">
                    <img src="\assets\images\waterfall.jfif" alt="" uk-cover>
                    <div class="uk-position-center uk-position-small uk-text-center uk-light">
                        <h2 class="uk-margin-remove" style="float:right; margin-left: 350px; color:white"> Welcome
                            To<br>
                            <marquee width="100%" direction="up" height="100px">
                                <span class="purple">Odisha <span data-typer-targets="Smart, Clean"> Forest</span>
                                    Department</span>
                            </marquee>
                            <h3 class="" style="color: white"><span class="purple">ଓଡ଼ିଶା ଜଙ୍ଗଲ ବିଭାଗକୁ ସ୍ୱାଗତ
                                    |</span></h3>
                        </h2>
                    </div>
                </div>
            </li>

            <li>
                <div
                    class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-bottom-left">
                    <img src="\assets\images\forest5.jpg" alt="" uk-cover>
                    <div class="uk-position-center uk-position-small uk-text-center uk-light">
                        <h2 class="uk-margin-remove" style="float:right; margin-left: 350px; color: white"> Welcome
                            To<br>
                            <marquee width="100%" direction="up" height="100px">
                                <span class="purple">Odisha <span data-typer-targets="Smart, Clean"> Forest</span>
                                    Department</span>
                            </marquee>
                            <h3 class="" style=" color: white"><span class="purple">ଓଡ଼ିଶା ଜଙ୍ଗଲ ବିଭାଗକୁ ସ୍ୱାଗତ |</span>
                            </h3>
                        </h2>
                    </div>
                </div>
            </li>
        </ul>


        <a class="uk-position-center-left uk-position-large uk-slidenav-large" href="#" uk-slidenav-previous
            uk-slideshow-item="previous"></a>
        <a class="uk-position-center-right uk-position-large uk-slidenav-large" href="#" uk-slidenav-next
            uk-slideshow-item="next"></a>

    </div>
</section>

<section>
    <marquee behavior="scroll" direction="left" style="background-color: gray;">
        <a style="color: rgb(180, 253, 10);font-size: 22px; background-color: gray;"><b>Notice : </b><i>This website is under Beta testing and hence no sensitive
                information
                should be entered and hence actual Citizen queries should not be posted. We will notify when the website
                is
                available for public usage.</i></a>
    </marquee>
</section>


<section>
    <div class="container-fluid">
        <div class="main-outer-div">
            <div class="welcome-div">
            <div class="welcome-inner">
            <h2 style="margin-top:-25px ;">Welcome To Forest Department</h2>
            
            <p class="rtejustify" style="margin-top: 15px;">The harvesting of the forest resources of the State as per provisions of the Working Plans was primarily being done through private contractors prior to 1962 resulted in unscientific exploitation of forests, illicit felling and removal of unrestricted Forest Produces from the Forest. Evasion and avoidance of payment of royalty and taxes also occurred in many cases. With the objective to replace the contractor system of forest working for Forest Management in Odisha and to use the forest resources for generating revenue to the State, the Government set up Odisha Forest Corporation Ltd, a Company under the Companies Act,1956, in the year 1962. .</p>
            
            <h2>Mandate</h2>
            
            <ul>
                <li style="list-style-type:square ;color: black;font-size: 18px;">To protect, develop and manage the forest.</li>
                <li style="list-style-type:square ; color: black;font-size: 18px;">To implement policies and programmes of the State Government with regard s to protection, development and management of forest and wildlife resources of the state.</li>
                <li style="list-style-type:square ; color: black;font-size: 18px;">To enforce acts, laws, rules and regulations pertaining to the protection and management of forests and wildlife.</li>
                <li style="list-style-type:square ; color: black;font-size: 18px;">To take steps for the implementation of the National Forest Policy.</li>
                <li style="list-style-type:square ; color: black;font-size: 18px;">To recruit, train and deploy forestry personnel in protection, development and management of forests and wildlife.</li>
                <!-- <li>To undertake plantations....<a href="/node/2">Read More</a></li> -->
            </ul>
            </div>
            </div>
            
            <div class="team-member-div" >
            <div class="team-member-inner">
              <h2 class="text-center" style="color:black ;" >Members</h2>
            <div class="team-member-1 team-member-body mb-2">

            <div class="team-img"><img alt="" src="\assets\images\team\dummy.jpg" /></div>
            
            <div class="team-discription mt-4">
            <p style="color:black ;"><strong>Shri Pradip Kumar Amat</strong></p>
             
            <p style="color:black ;">Hon'ble Minister For Forest</p>
            </div>
            </div>
            
            <div class="team-member-2 team-member-body">
            <div class="team-img"><img alt="" src="\assets\images\team\dummy.jpg" /></div>
            
            <div class="team-discription mt-4">
            <p style="color:black ;"><strong>Shri Pradipta Kumar Mohapatra, IAS</strong></p>
            
            <p style="color:black ;">Principal Secretary</p>
            </div>
            </div>
            
            <div class="team-member-3 team-member-body">
            <div class="team-img"><img alt="" src="\assets\images\team\dummy.jpg" /></div>
            
            <div class="team-discription mt-4">
            <p style="color:black ;"><strong>Sri. Vir Vikram Yadav,IFS</strong></p>
            
            <p style="color:black ;">Principal Chief Conservator of Forest</p>
            </div>
            </div>
            
            <div class="team-member-4 team-member-body">
            <div class="team-img"><img alt="" src="\assets\images\team\dummy.jpg"></div>
            
            <div class="team-discription mt-4">
            <p style="color:black ;"><strong>SHRI SANTOSH KUMAR IFS</strong></p>
            
            <p style="color:black ;">Additional Principal Chief Conservator of Forests &amp; Chief Wildlife Warden</p>
            </div>
            </div>
            
            <!-- <div class="team-member-5 team-member-body">
            <div class="team-img"><img alt="" src="/assets/images/minister1/pradip.jpg" /></div>
            
            <div class="team-discription">
            <p><strong>SHRI KESHAV KUMAR IFS</strong></p>
            
            <p>Chief Conservator of Forests</p>
            </div>
            </div> -->
            
            <div class="team-member-6 team-member-body">
            <div class="team-img"><img alt="" src="\assets\images\team\dummy.jpg" /></div>
            <div class="team-discription mt-4">
            <p style="color:black ;"><strong>SHRI SAURABH KUMAR IFS</strong></p>
            
            <p style="color:black ;">Chief Conservator of Forests</p>
            </div>
            </div>
            
            <div class="team-member-6 team-member-body">
            <div class="team-img"><img alt="" src="\assets\images\team\dummy.jpg" /></div>
            
            <div class="team-discription mt-4">
            <p style="color:black ;"><strong>SHRI Dr. DINESH KANNAN IFS</strong></p>
            
            <p style="color:black ;">Conservator of Forests</p>
            </div>
            </div>
            </div>
            
            <div class="video-gal-main">
            <h2 style="text-align:center;font-size: 19px;font-weight: 600;padding: 28px;">Video Gallery</h2>
            
            <div class="video-gal-inner">
            <div class="video-imgs"><a href="https://www.youtube.com/watch?v=Lj3k5c8Iz2M" rel="noopener noreferrer" target="_blank"><img src="/assets/fst img/forestpicture/05wildlife-jumbo.gif" /></a></div>
            
            <div class="video-desc">
            <p><a href="https://www.youtube.com/watch?v=Lj3k5c8Iz2M" rel="noopener noreferrer" target="_blank">Procedure for Online Application for Registration of Commercial Tree Plantation on Private Non-Forest Land in e-District Portal Odisha Online</a></p>
            </div>
            </div>
            
            <div class="video-gal-inner">
            <div class="video-imgs"><a href="https://www.youtube.com/watch?v=ASJouwFTwJw" rel="noopener noreferrer" target="_blank"><img src="/assets/fst img/forestpicture/J2-b_G.gif" /></a></div>
            
            <div class="video-desc">
            <p><a href="https://www.youtube.com/watch?v=ASJouwFTwJw" rel="noopener noreferrer" target="_blank">Birds Of Odisha a wonderful short film by Forest Department Of Odisha</a></p>
            </div>
            </div>
            
            <div class="video-gal-inner">
            <div class="video-imgs"><a href="https://www.youtube.com/watch?v=URwv86IHLw4" rel="noopener noreferrer" target="_blank"><img src="/assets/fst img/forestpicture/water-11.gif" /></a></div>
            
            <div class="video-desc">
            <p><a href="https://www.youtube.com/watch?v=URwv86IHLw4" rel="noopener noreferrer" target="_blank">VAN - The Odisha's Forest Song | Odisha Forest Department | Konkani Music Video</a></p>
            </div>
            </div>


            <!-- ---------------------------------- -->






            </div>
            <!-- ----------------------------------------- -->

            <!-- <div class="title_text">Image sdfsdfdffdfGallery
              <div class="w3-content w3-display-container">
              <div class="w3-display-container mySlides"><img src="/sites/default/files/inline-images/Tiger-2.png" style="width:100%" />
              <div class="w3-display">Tiger</div>
              </div>
              
              <div class="w3-display-container mySlides"><img src="/sites/default/files/inline-images/mahavir_sanctuary_main-1.jpg" style="width:100%" />
              <div class="w3-display">Bhagwan Mahavir Sanctuary</div>
              </div>
              
              <div class="w3-display-container mySlides"><img src="/sites/default/files/inline-images/cotigao-wildlife-sanctuary.jpg" style="width:100%" />
              <div class="w3-display">Cotigao Wildlife Sanctuary</div>
              </div>
              <script>
              
              var myIndex = 0;
              carousel();
              
              function carousel() {
                var i;
                var x = document.getElementsByClassName("mySlides");
                for (i = 0; i < x.length; i++) {
                  x[i].style.display = "none";  
                }
                myIndex++;
                if (myIndex > x.length) {myIndex = 1}    
                x[myIndex-1].style.display = "block";  
                setTimeout(carousel, 2000); // Change image every 2 seconds
              }
              
              
              </script></div>
              </div>
              <div>dadsajhsadsad</div> -->
              
            <!-- --------------------------------------------- -->








            </div>

        
            
            <div class="news-updates-div">
            <div class="news-update-inner">
            <div class="info-notice">
            <h3 style="text-align: center;">Latest Updates</h3>
            
            <div class="microsoft scroll tender">
            <div class="marquee">
            <div class="notice">
            <ul>
                <li class="rtejustify"><a href="/sites/default/files/2022-09/Wildlife-week-celebration-2022.jpeg" target="_blank">Wildlife week Celebration 2022</a></li>
                <li class="rtejustify"><a href="/sites/default/files/2022-09/Rules%20and%20regulations%20wildlife%20week%202022%20Final.pdf" target="_blank">Rules and regulations wildlife week 2022</a></li>
                <li class="rtejustify"><a href="/sites/default/files/2022-06/Research%20Proposal%20on%20Forestry%2C%20Wildlife%2C%20Ecology%20%26%20Environmental%20Condition%20of%20the%20State%20of%20Odisha%20.PDF" target="_blank">Research Proposal on Forestry, Wildlife, Ecology &amp; Environmental Condition of the State of Odisha</a></li>
                <li class="rtejustify"><a href="/sites/default/files/2022-06/Topics%20of%20Research%20proposals.pdf" target="_blank">Topics of Research proposals</a></li>
                <li class="rtejustify"><a href="/sites/default/files/2022-06/Winners%20of%20short%20documentary%20film%20Competition%20.pdf" target="_blank">Winners of Short Documentary Film competition, 70th Wildlife Week 2021</a></li>
                <li class="rtejustify"><a href="/sites/default/files/2022-06/Results-of%20-online-offline-competions-held-70th-wildlife-week-2021.jpeg" target="_blank">Results of Online and Offline Competitions Held on the Occasion of 70th Wildlife Week, 2021</a></li>
                <li class="rtejustify"><a href="/sites/default/files/2022-06/Corrigendum-forest-1.pdf" target="_blank">Corrigendum: Notification For Filling Up Various Posts in Forest Department</a></li>
                <li class="rtejustify"><a href="/sites/default/files/2022-06/Notification%20for%20filling%20up%20various%20posts%20in%20Forest%20Department.pdf" target="_blank">Notification For Filling Up Various Posts in Forest Department</a></li>
                <li class="rtejustify"><a href="/sites/default/files/2022-06/Revised-instructions-to-candidates.pdf" target="_blank">Revised Instructions to Candidates Towards Filling Up Various Posts in Forest Department</a></li>
                <li class="rtejustify"><a href="/sites/default/files/2022-06/Winners%20of%20Wildlife%20Week%202021.pdf" target="_blank">Winners of Wildlife Week 2021</a></li>
                <li class="rtejustify"><a href="/sites/default/files/2022-06/wildlife-week-awareness-campaign-2021.pdf" target="_blank">Notice:- Wildlife Week Awareness Campaign 2021</a></li>
                <li class="rtejustify"><a href="/sites/default/files/2022-06/Review%20of%20Private%20Forest%20Areas.pdf" target="_blank">Review of Private Forest Areas Identified by the State Level Expert Committee (Thomas And Araujo Committee)</a></li>
                <li class="rtejustify"><a href="/sites/default/files/2022-06/After date representations.xlsx" target="_blank">List of objection &amp; representations received as on date (26-03-2021)</a></li>
                <li class="rtejustify"><a href="sites/default/files/Ground-Verification-of-the-Private-Forest.pdf" target="_blank">Ground Verification of the Private Forest</a></li>
                <li class="rtejustify"><a href="sites/default/files/IMG_0002.pdf" target="_blank">Public notice regarding shifting of Forest Department Premises</a></li>
                <li class="rtejustify"><a href="sites/default/files/Advertisment.pdf">Scheme for Developement &amp; cultivation of Medicinal Plants</a></li>
                <li class="rtejustify"><a href="sites/default/files/format-for-expression-of-interest.pdf">Format for expression of interest</a></li>
                <li class="rtejustify"><a href="sites/default/files/MEDICINAL-PLANTS-SUBSIDY-SCHEME.pdf">Medicinal Plants Subsidy Scheme</a></li>
            </ul>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
            
            <!-- <div class="tenders-div">
            <div class="tender-div-inner">
            <div class="info-notice">
            <h3 style="text-align: center;">Tenders</h3>
            
            <div class="microsoft scroll tender">
            <div class="marquee">
            <div class="notice">
            <ul>
                <li class="rtejustify"><a href="/sites/default/files/2022-09/Tender%20notice%20for%20collection%20of%20Cashew%20nuts%20and%20apples%20from%20the%20Cashew%20plantqations%20%26%20estates.pdf">Tender notice for collection of Cashew nuts and apples from the Cashew plantations &amp; estates</a></li>
                <li class="rtejustify"><a href="/sites/default/files/2022-06/forest-dpt-tender.pdf">E-Tender Notice: Construction of toilet blocks.</a></li>
            </ul>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
         -->


            

           
            </div>
          </div>
</section>


<!-- --------------------card Image starting section------------------ -->



<section>
    <div class="container text-center" style="text-align:center;">
        <div class="heading text-center" style="padding:5px;display: flex;margin-left: 500px;">
            <!-- <div id="myDIV" style="float:left ;margin-left: 0;" >hi</div> -->

            <div class="uk-flex uk-flex-center"><img src="assets\fst img\state image\stambha.jpg"
                    alt="" class="img-fluid">
                    <!-- <div id="myDIV" style="float:right ;" >hi</div> -->
                </div>
                    ଓଡ଼ିଶା ରାଜ୍ୟ ପ୍ରତୀକ
                <div class="uk-flex uk-flex-center" style="margin:0;"><img src="assets\fst img\state image\stambha.jpg"
                        alt="" class="img-fluid"><a class="navbar-brand logo" href="./"></a>
                </div>
        </div>
    </div>
    <div class="container symbol">
        <div class="row">
            <div class="card" style="margin-top: 35px;">
                <img class="card-img-top" src="assets\fst img\state image\sambar.gif" alt="Card image"
                    style="width:100%; height: 100%;">
                <div class="card-body">
                    <h5>ରାଜ୍ୟ ପଶୁ: ସମ୍ବର</h5>
                </div>

            </div>

            <div class="card" style="margin-top: 35px;">

                <img class="card-img-top" src="assets\fst img\state image\bhadabhadaliaaaa.gif" alt="Card image"
                    style="width:100%">
                <div class="card-body">
                    <h5>ରାଜ୍ୟ ପକ୍ଷୀ: ଭଦଭଦଳିଆ</h5>
                </div>

            </div>
            <div class="card" style="margin-top: 35px;">
                <img class="card-img-top" src="assets\fst img\state image\mango.gif" alt="Card image"
                    style="width:100%">
                <div class="card-body">
                    <h5>ରାଜ୍ୟ ଫଳ: ଆମ୍ବ </h5>
                    <p></p>
                </div>
            </div>
            <div class="card" style="margin-top: 35px;">
                <img class="card-img-top" src="assets\fst img\state image\flower.gif" alt="Card image"
                    style="width:100%">
                <div class="card-body">
                    <h5>ରାଜ୍ୟ ଫୁଲ: ଅଶୋକା</h5>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- --------------------card Image ending section------------------ -->





<!-- ======= Portfolio Section ======= -->
 <section id="portfolio" class="portfolio" style="background-color: #f6f9fe;color: black; background-repeat: no-repeat;">
    <div class="container" data-aos="fade-up">
        <div class="title text-center"><br>
            <h2 style="font-size: large;">Famous Places</h2>
            <div class="border"></div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="flip-box">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            <a href="assets/fst img/forestpicture/Chandaka3.jfif" class="fancybox" rel="ligthbox" style="background-repeat: no-repeat;">
                                <img src="assets/fst img/forestpicture/Chandaka3.jfif" class="zoom img-fluid " alt="" style="background-repeat: no-repeat;">
                            </a>
                        </div>
                        <div class="flip-box-back" style="background-repeat: no-repeat;">

                            <h5>Chandaka Forest</h5>
                            <a href="assets/fst img/forestpicture/Chandaka3.jfif" class="fancybox" rel="ligthbox" style="background-repeat: no-repeat;">
                                <img src="assets/fst img/forestpicture/Chandaka3.jfif" class="zoom img-fluid " alt="" style="background-repeat: no-repeat;">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="flip-box">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            <a href="assets/fst img/forestpicture/bamboo.jpg" class="fancybox" rel="ligthbox">
                                <img src="assets/fst img/forestpicture/bamboo.jpg" class="zoom img-fluid" alt="">
                            </a>
                        </div>
                        <div class="flip-box-back">
                            <h5>Bamboo Tree</h5>
                            <a href="assets/fst img/forestpicture/bamboo.jpg" class="fancybox" rel="ligthbox">
                                <img src="assets/fst img/forestpicture/bamboo.jpg" class="zoom img-fluid" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="flip-box">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            <a href="assets/fst img/forestpicture/TH01-CAT-BRSC.jfif" class="fancybox" rel="ligthbox">
                                <img src="assets/fst img/forestpicture/TH01-CAT-BRSC.jfif" class="zoom img-fluid"
                                    alt="">
                            </a>
                        </div>
                        <div class="flip-box-back">
                            <h5>Tiger</h5>
                            <a href="assets/fst img/forestpicture/TH01-CAT-BRSC.jfif" class="fancybox" rel="ligthbox">
                                <img src="assets/fst img/forestpicture/TH01-CAT-BRSC.jfif" class="zoom img-fluid"
                                    alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="flip-box">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            <a href="assets/fst img/forestpicture/Chandan.jpg" class="fancybox" rel="ligthbox">
                                <img src="assets/fst img/forestpicture/Chandan.jpg" class="zoom img-fluid " alt="">
                            </a>
                        </div>
                        <div class="flip-box-back">
                            <h5>Chandan Tree</h5>
                            <a href="assets/fst img/forestpicture/Chandan.jpg" class="fancybox" rel="ligthbox">
                                <img src="assets/fst img/forestpicture/Chandan.jpg" class="zoom img-fluid " alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div><br><br>
         <div class="row">
            <div class="col-md-3">
                <div class="flip-box">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            <a href="assets\fst img\forestpicture\Wild-elephant-crossing-road.jpg" class="fancybox"
                                rel="ligthbox">
                                <img src="assets\fst img\forestpicture\Wild-elephant-crossing-road.jpg"
                                    class="zoom img-fluid " alt="">
                            </a>
                        </div>
                        <div class="flip-box-back">
                            <h5>Elephant</h5>
                            <a href="assets\fst img\forestpicture\Wild-elephant-crossing-road.jpg" class="fancybox"
                                rel="ligthbox">
                                <img src="assets\fst img\forestpicture\Wild-elephant-crossing-road.jpg"
                                    class="zoom img-fluid " alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="flip-box">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            <a href="assets/fst img/forestpicture/Rubber Plantation.jpg" class="fancybox"
                                rel="ligthbox">
                                <img src="assets/fst img/forestpicture/Rubber Plantation.jpg" class="zoom img-fluid "
                                    alt="">
                            </a>
                        </div>
                        <div class="flip-box-back">
                            <h5>Rubber Plantation</h5>
                            <a href="assets/fst img/forestpicture/Rubber Plantation.jpg" class="fancybox"
                                rel="ligthbox">
                                <img src="assets/fst img/forestpicture/Rubber Plantation.jpg" class="zoom img-fluid "
                                    alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="flip-box">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            <a href="assets\fst img\forestpicture\forest-path-panorama-25795025.jpg" class="fancybox"
                                rel="ligthbox">
                                <img src="assets\fst img\forestpicture\forest-path-panorama-25795025.jpg"
                                    class="zoom img-fluid " alt="">
                            </a>
                        </div>
                        <div class="flip-box-back">
                            <h5>Forest</h5>
                            <a href="assets\fst img\forestpicture\forest-path-panorama-25795025.jpg" class="fancybox"
                                rel="ligthbox">
                                <img src="assets\fst img\forestpicture\forest-path-panorama-25795025.jpg"
                                    class="zoom img-fluid " alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="flip-box">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            <a href="assets\fst img\forestpicture\Coconut-cultivation.jpg" class="fancybox"
                                rel="ligthbox">
                                <img src="assets\fst img\forestpicture\Coconut-cultivation.jpg" class="zoom img-fluid "
                                    alt="">
                            </a>
                        </div>
                        <div class="flip-box-back">
                            <h5>Coconut Farming</h5>
                            <a href="assets\fst img\forestpicture\Coconut-cultivation.jpg" class="fancybox"
                                rel="ligthbox">
                                <img src="assets\fst img\forestpicture\Coconut-cultivation.jpg" class="zoom img-fluid "
                                    alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <br>
</section>

<!-- End Portfolio Section -->
<!-- ======= Portfolio Section ======= -->
<!-- <section id="portfolio" class="portfolio" style="background-color: gainsboro;">
    <div class="uk-container">
        <div class="title text-center"><br>
            <h2 translate style="font-size: large;">Famous Places</h2>
            <div class="border"></div>
        </div>
        <div class="row" style="margin-top: -35px;">
            <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider>
                <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-4@m" uk-lightbox="animation: slide">
                    <li *ngFor="">
                        <div class="flip-container">
                            <div class="flipper">
                                <div clas="front uk-position-center uk-panel">
                                    <a class="uk-inline">
                                        <img src="assets\fst img\forestpicture\Coconut-cultivation.jpg" width="400" height="600" alt="" class="img-fluidd">
                                    </a>
                                </div>
                                <div class="back uk-position-center uk-panel">
                                     <a class="uk-inline" href="">
                                        <img src="assets\fst img\forestpicture\Coconut-cultivation.jpg" width="400" height="600" alt="" class="img-fluidd">
                                    </a>
                                </div>
                            </div>
                            <h5 style="text-align: center;color: #000;"></h5>
                        </div>
                    </li>
                </ul>
                <a class="uk-slidenav-large uk-position-center-left uk-position-small uk-hidden-hover" uk-slidenav-previous uk-slider-item="previous" style="color: red;"></a>
                <a class="uk-slidenav-large uk-position-center-right uk-position-small uk-hidden-hover" uk-slidenav-next uk-slider-item="next" style="color: red;"></a>
            </div>
        </div>
    </div>
    <br>
</section> -->


<div class="title text-center"><br>
    <h2 style="font-size: large;">Important Links</h2>
    <div class="border"></div>
</div>

<section id="portfolio" class="portfolio" style="background-color: #fff;">
    <div uk-slider="autoplay:true; pause-on-hover:false" class="container" data-aos="fade-up">

        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">

            <ul class="uk-slider-items ilinks uk-child-width-1-2 uk-child-width-1-5@m uk-grid">
                <li>
                    <a href="https://www.mygov.in/" target="_blank"
                        data-confirm="You are being redirected to an external website. Please note that  Odisha forest department cannot be held responsible for external websites content & privacy policies."><img
                            src="assets/images/ilinks/im1.png" alt=""></a>
                </li>
                <!-- <li>
                    <a href="http://smartcities.gov.in/content/" target="_blank" data-confirm="You are being redirected to an external website. Please note that  Odisha forest department cannot be held responsible for external websites content & privacy policies."><img src="assets/images/ilinks/im2.png" alt=""></a>
                 </li> -->
                <!-- <li>
                    <a href="http://up.gov.in/" target="_blank" data-confirm="You are being redirected to an external website. Please note that  Odisha forest department cannot be held responsible for external websites content & privacy policies."><img src="assets/images/ilinks/im3.png" alt=""></a>
                 </li> -->
                <li>
                    <a href="http://lmc.up.nic.in/" target="_blank"
                        data-confirm="You are being redirected to an external website. Please note that  Odisha forest department cannot be held responsible for external websites content & privacy policies."><img
                            src="assets/images/ilinks/im4.png" alt=""></a>
                </li>
                <li>
                    <a href="http://www.moud.in/" target="_blank"
                        data-confirm="You are being redirected to an external website. Please note that  Odisha forest department cannot be held responsible for external websites content & privacy policies."><img
                            src="assets/images/ilinks/im5.png" alt=""></a>
                </li>
                <li>
                    <a href="https://digilocker.gov.in/" target="_blank"
                        data-confirm="You are being redirected to an external website. Please note that  Odisha forest department cannot be held responsible for external websites content & privacy policies."><img
                            src="assets/images/ilinks/im6.png" alt=""></a>
                </li>
                <li>
                    <a href="https://ors.gov.in/index.php" target="_blank"
                        data-confirm="You are being redirected to an external website. Please note that  Odisha forest department cannot be held responsible for external websites content & privacy policies."><img
                            src="assets/images/ilinks/im7.png" alt=""></a>
                </li>
                <li>
                    <a href="http://itpolicyup.gov.in/" target="_blank"
                        data-confirm="You are being redirected to an external website. Please note that  Odisha forest department cannot be held responsible for external websites content & privacy policies."><img
                            src="assets/images/ilinks/im8.png" alt=""></a>
                </li>
                <li>
                    <a href="http://esuvidha.goup.in/" target="_blank"
                        data-confirm="You are being redirected to an external website. Please note that  Khordha smartcity cannot be held responsible for external websites content & privacy policies."><img
                            src="assets/images/ilinks/im9.png" alt=""></a>
                </li>
                <li>
                    <a href="http://upbhulekh.gov.in/public/public_ror/Public_ROR.jsp" target="_blank"
                        data-confirm="You are being redirected to an external website. Please note that  Khordha smartcity cannot be held responsible for external websites content & privacy policies."><img
                            src="assets/images/ilinks/im10.png" alt=""></a>
                </li>
                <li>
                    <a href="http://shasanadesh.up.gov.in/" target="_blank"
                        data-confirm="You are being redirected to an external website. Please note that  Odisha forest department cannot be held responsible for external websites content & privacy policies."><img
                            src="assets/images/ilinks/im11.png" alt=""></a>
                </li>
                <li>
                    <a href="https://sarathi.parivahan.gov.in/SarathiReport/sarathiHomePublic.do" target="_blank"
                        data-confirm="You are being redirected to an external website. Please note that  Odisha forest department cannot be held responsible for external websites content & privacy policies."><img
                            src="assets/images/ilinks/im12.png" alt=""></a>
                </li>
                <li>
                    <a href="https://vahan.nic.in/nrservices/" target="_blank"
                        data-confirm="You are being redirected to an external website. Please note that  Odisha forest department cannot be held responsible for external websites content & privacy policies."><img
                            src="assets/images/ilinks/im13.png" alt=""></a>
                </li>
                <li>
                    <a href="http://164.100.228.143/sbm/home/#/SBM" target="_blank"
                        data-confirm="You are being redirected to an external website. Please note that  Odisha forest department cannot be held responsible for external websites content & privacy policies."><img
                            src="assets/images/ilinks/im14.png" alt=""></a>
                </li>
                <li>
                    <a href="https://data.gov.in/" target="_blank"
                        data-confirm="You are being redirected to an external website. Please note that  Odisha forest department cannot be held responsible for external websites content & privacy policies."><img
                            src="assets/images/ilinks/im15.png" alt=""></a>
                </li>
            </ul>

            <!-- <ul class="uk-slider-items ilinks uk-child-width-1-2 uk-child-width-1-5@m uk-grid">
                
             </ul> -->

            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
                uk-slider-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
                uk-slider-item="next"></a>

        </div>

        <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>

    </div>
</section>