<section class="uk-section-small">
    <h3>Copyright Policy</h3>
      <div class="container" style="margin-top: 20px;">
         <p>All copyrights are reserved with Moradabad Smart City Ltd.. The material posted on the website may be reproduced without formal permission for the purposes of non-commercial research, private study, review and news reporting provided that the material is appropriately attributed.</p>
         <p>However, the material has to be reproduced accurately and not to be used in a derogatory manner or in a misleading context The permissions to reproduce this material shall not extend to any material which is identified as being copyright of a third party. Authorization to reproduce such material must be obtained from the concerned copyright holders.</p>
      </div>
</section>
