<section class="innbanner">
    <img src="assets/images/integrated.jpg">
    <h2>Integrated Traffic System</h2>
</section>
<section class="uk-section-small">
    <div class="uk-container">
        <div class="uk-width-expand@m uk-width-1-1">
           
            <div class="row">
                <div class="col-md-8">
                    <h4>Integrated Traffic Management System</h4>
                    <p>For the purpose of making the traffic system of the state more effective a scheme named
                         “Integrated Traffic Management System” is to be launched phase wise in the state.
                          In the first phase the scheme will be implemented in the urban areas of the selected 12 districts
                           namely Lucknow, Kanpur, Varanasi, Allahabad, Meerut, Agra, Noida, Ghaziabad, Gorakhpur, Bareilly,
                            Moradabad and Aligarh of the state. For this Rs 50 crores has been provided by the state government
                             in the budget.</p>
                        <p>Under this scheme intelligent Transport System will be established under which Automatic Signal Control System, 
                            Separate Signal System for pedestrians, Traffic Management Centre at state level, area Traffic Control System,
                             Corridor Management, Dynamic Traffic Indicators will be established. Arrangement of Traffic Signals, Surveillance Camera,
                              and Enforcement Camera etc will be made in the scheme.</p>

                </div>
                
                <div class="col-md-4">
                    <img class="imgBord imgRight whatNewArticleImg" src="assets/images/traffic-system.jpg" height="218" width="268">
                </div>
                <p>Under this scheme with the smooth operation of traffic system its monitoring will also be done and arrangement will
                     be made to send e-challan to those marked as violating the traffic rules. Special arrangement has also been made 
                     in the scheme for emergency vehicles to pass without interruption. Besides, special emphasis has also been made on
                      road safety measures.</p>
                <p>Government has sanctioned Rs. 13 crore 28 lakhs for the running of Uttar Pradesh Highway Petrol Project under
                     Uttar Pradesh Core Road Network Development Project. With the aim to provide safe journey to local people on 
                     road the Home Department is running Uttar Pradesh Highway Petrol Project. Under this at Traffic Directorate
                      level under the supervision of DIG Traffic a running unit has been established.</p>
                      <p>Government has decided to implement “Uttar Pradesh Highway Petrol” project for the prevention of road accident,
                           database of victims in accidents and appropriate management of road accident.</p>
            </div>
            
        </div>
    </div>
</section>


