.tg  {border-collapse:collapse;border-spacing:0;}
        .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
          overflow:hidden;padding:10px 5px;word-break:normal;}
        .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
          font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
        .tg .tg-0lax{text-align:left;vertical-align:top}
        .tg .tg-nrix{text-align:center;vertical-align:middle}

        // .tg  {border-collapse:collapse;border-spacing:0;}
        // .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
        //   overflow:hidden;padding:10px 5px;word-break:normal;}
        // .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
        //   font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
        // .tg .tg-0lax{text-align:left;vertical-align:top}
        // .tg .tg-nrix{text-align:center;vertical-align:middle}


.all{
  background:rgb(220,227,7);
}
.subrow{
  background:#f9f1db;

}
.subcolumn{
  background:#c06d08;
}
.as{
  background:rgb(7, 157, 227);
}
.allno{
  background:rgb(204, 231, 231);
}
.wes{
  background:#f9f1db;

}
.doc{
  background:rgba(179, 139, 161, 0.337);
}
.exp{
  background:rgba(109, 119, 0, 0.4)6;
}
.max{
  background:#f9f1db;
}
.optn{
  background:#dbf9f1;
}
.wht{
  background:#705637;

}
