<section class="innbanner">
  <img src="assets/images/district-profile.jpg">
    <h2>District Profile</h2>
  </section>
  <section>
    <div class="container" style="width: 100%;margin-top: 30px;">
      <div class="col-12" style="padding-top:1rem;">
        <div class="title text-center event">
            <h2 style="font-size: large;">District Profile
            </h2>
            <div class="border"></div>
        </div>
    </div>
          <table class="table table-bordered table-striped" style="margin-top: -8px;margin-bottom: 20%;">
        <thead class="districtprofile">
          <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Download</th>
          </tr>
        </thead>
        <tbody id="myTable">
          <tr>
            <td>Citizen Charter</td>
            <td>15/02/2018</td>
            <td><a data-toggle="modal" data-target="#myModal"><span style="color: blue;">view</span>&nbsp;&nbsp;<span
            ><img src="assets/images/pdf.png"/></span></a>&nbsp;&nbsp;<span><a
                (click)="downloadMyFile()"><i class="fa fa-download"></i></a></span></td>
          </tr>
          
          <!-- Modal start-->
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                  <div style="text-align: center;">
                    <iframe src="assets/images/blank.pdf"
                      style="width:400px; height:500px;" frameborder="0"></iframe>
                  </div>
                </div>
              </div>
            </div>
          </div>
           <!-- Modal end-->
        </tbody>
      </table>
  
    </div>
  </section>
