<section class="innbanner">
    <img src="assets/images/vision-mission.jpg">
    <h2> Mission & Vission</h2>
</section>
<section id="mission-and-vission" class="about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <img src="assets/images/mission.jpg" class="img-fluid diagram-img">
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="content d-flex flex-column justify-content-center">
                    <div class="about_title">
                        <h6>Welcome to</h6>
                    </div>
                    <h3 data-aos="fade-up"><span class="text-red">Smart</span> <span class="text-blue">City Mission</span></h3>
                    <p data-aos="fade-up">
                        The conceptualization of Smart City, varies from city to city and country to country, depending on the level of development, willingness to change and reform, resources and aspirations of the city residents.
                    </p>
                    <br>
                    <p>A smart city would have a different connotation in India than Europe. Even in India, there is no one way of defining a smart city.</p>
                </div>
                <!-- End .content-->
            </div>
        </div>
    </div>
</section>
<section id="mission-and-vission" class="about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <img src="assets/images/our-vision.jpg" class="img-fluid diagram-img">
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="content d-flex flex-column justify-content-center">
                    <div class="about_title">
                        <h6>Welcome to</h6>
                    </div>
                    <h3 data-aos="fade-up"><span class="text-red">Smart</span> <span class="text-blue">City Vision</span></h3>
                    <p data-aos="fade-up" class="text-justify">
                        Transform <strong>“Peetal Nagri”</strong> into a sustainable growth center and livable city.
                    </p>
                    <br>
                    <p class="text-justify">
                        <strong>Sustainable Growth Center:</strong> Moradabad, popularly known as <strong>“Peetal Nagri”</strong>, has potential to develop as leader in Brass Industry, E-Waste treatment and logistic sector. Moradabad has good economic
                        establishment and need to develop the sustainable models to promote industrial environment supportive methods keeping artisans health, pollution reduction and lower production cost in focus.
                    </p>
                </div>
                <!-- End .content-->
            </div>
        </div>
    </div>
</section>
