<section class="innbanner">
    <img src="assets/images/erpbanner.jpg">
    <h2>MNN-ERP</h2>
</section>
<section>
    <div>
     <!-- <img src="assets/images/Help_Helpline.jpg" width="100%" class="topimage">  -->
        <div class="container-fluid uk-position-relative panel-heading">
            <div class="serice-item-list">
                <div class="headname"><i class="fa fa-info-circle">  MNN-ERP</i>
                </div><hr>
               
                <section style="margin-left: 20%;">
                    <div class="row">
                        <div class="col-md-6">
                            <a href="http://117.211.75.160/mscl-hrm/login" target="_blank">
                            <img style="box-shadow: 10px 10px 5px 12px grey;padding: 15px;" href="http://117.211.75.160/mscl-hrm/login" src="https://img.icons8.com/external-flatart-icons-flat-flatarticons/64/000000/external-account-ux-and-ui-flatart-icons-flat-flatarticons.png" alt=""  width="45%" height="90"/>
                            <div style="margin-top: 30px;margin-left: 50px;font-weight: 800;color: teal;font-size: 20px;">( Accounts )</div>
                            
                            </a>
                           
                        </div>
                        <div class="col-md-6" style="margin-top: -43px;">
                            <a href="http://117.211.75.160/mscl-hrm/login" target="_blank">
                                <img style="margin-top: 50px;box-shadow: 10px 10px 5px 12px grey;padding: 15px;" href="http://117.211.75.160/mscl-hrm/login" src="https://img.icons8.com/external-flat-geotatah/100/000000/external-find-recruitment-flat-flat-geotatah-2.png" width="45%" height="90"/>
                                
                            <div style="margin-top: 30px;margin-left: 70px;font-weight: 800;color: teal;font-size: 20px;">( HRMS )</div>
                        </a>
                        
                        </div>
                    </div>
                </section>
            </div>
        </div>
        
    </div>   
</section>


