<section class="innbanner">
    <h2 id="backdrop">Private and Public Hospitals</h2>
</section>
<section>
    <div>
       <div class="col-12" style="padding-top:1rem;">
            <div class="title text-center event">
                <h2 style="font-size: large;">LIST OF PRIVATE AND PUBLIC HOSPITALS</h2>
                <div class="border"></div>
            </div>
        </div>
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead class="hospitalhead">
                                <tr class="table-primary key-personel">
                                    <th>Sl.No</th>
                                    <th class="text-left">Division</th>
                                    <th class="text-left">District</th>
                                    <th class="text-left"> Name</th>
                                    <th class="text-left"> Address</th>
                                    <th class="text-left"> Detail</th>
                                </tr>
                            </thead>
                            <tbody style="font-size:16px;" class="hospital-table">
                                <tr>
                                    <td>1</td>
                                    <td> Uttar Pradesh</td>
                                    <td> Uttar Pradesh </td>
                                    <td>Siddh Multispeciality Hospital - Hospital</td>
                                    <td> Hospital</td>
                                    <td>063968 52220
                                        siddhhospital.org</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Uttar Pradesh </td>
                                    <td>Uttar Pradesh </td>
                                    <td>District Hospital</td>
                                    <td>Courthouse</td>
                                    <td>Civil Lines, Moradabad, Uttar Pradesh 244001</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Uttar Pradesh </td>
                                    <td>Uttar Pradesh </td>
                                    <td>Srijan Hospital</td>
                                    <td> Hospital</td>
                                    <td> 094122 35997</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Uttar Pradesh </td>
                                    <td>Uttar Pradesh </td>
                                    <td> Sri Sai Hospital</td>
                                    <td> Delhi Road, Moradabad, Uttar Pradesh 244001</td>
                                    <td> 0591 2479800
                                        srisaihospital.com</td>
                                    </tr>
                                   </tbody>
                        </table>
                    </div>
                </div>
            </div>
            </div>
</section>
