.gender label{
    margin-right: 15px;
}
.register-wrapper{
    background-color:#f8f9fb;
    width: 100%;
    padding:1.5rem;
    box-sizing: border-box;
    border:0.5px solid #E5E5E5;
}
.complaint-form{
    max-width:780px;
    margin: 0 auto;
}
.register-input{
    display: inline-grid;
}
.register-input label{
    margin: 10px;
}
.register-submit{
    display: flex;
    justify-content: center;
    align-items: center;
}
.register-input input, .register-input select, .register-input textarea{
    box-sizing: border-box;
    width: 350px;
    height: 40px;
    padding:5px 10px;
    background-color: #ffffff;
    // border: 1px solid #e5e5e5;
    margin: 10px;
}
.register-input textarea{
    min-height: 100px;
    width:720px;
}
#complaint-submit{
    background-color:#f4824b;
    color:#fff;
    border: 1px solid #e5e5e5;
}
.invalid-feedback {
    display: inline-block;
    width: 100%;
    margin-top: 0.25rem;
    margin-left: 1rem;
    font-size: 80%;
    color: #DC3545;
}
@media (max-width:430px){
    .register-wrapper{
        padding:1rem 0;
    }
    .register-input{
        display:grid;
    }
    .register-input input, .register-input select{
        width:auto;
    }
    .register-input textarea{
        width:auto;
    }
    .register-input input#complaint-image{
        width:auto;
    }
}