<section class="innbanner">
    <img src="assets/images/cultural-history.jpg">
    <h2>Cultural History</h2>
</section>

<section id="area-based-development" class="about-us">
    <div class="container">
        <h2 class="main-title">Cultural Heritage</h2>
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <p>Popularly known as ‘Brass City’, Moradabad is famous for its handicrafts industry. The intricately designed brass handicrafts are exported to several</p>
                <br>
                <p>countries across the globe. The fairs and festivals celebrated in the city are important features of the culture. Festivals such as Diwali, Eid, Lohri, Durga Puja and Chhat Puja are celebrated with equal anticipation and joy.</p>
                <br>
                <p>The monuments of Moradabad depict the essence of both Hindu and Muslim cultures. Throughout history, the city has attracted eminent musicians, dancers and painters who have contributed to the culture.</p>
                <br>
                <p>Another important aspect of Moradabad is its delicious cuisine. Moradabadi Biyani is known for its aromatic flavour and other delicacies include Mutton Curry, Masala Choley, Moradabadi Dal and Singharey Ki Kachri.ral treasures of the city.</p>
            </div>
        </div>

        <div class="row cultural-img">
            <div class="col-md-6 col-lg-6 cultural-img-container">
                <img src="assets/images/brass.jpg" class="img-fluid diagram-img">
                <h6>Bass Work</h6>
            </div>
            <div class="col-md-6 col-lg-6 cultural-img-container">
                <img src="assets/images/g3.png" class="img-fluid diagram-img">
                <h6>Brass worker</h6>
            </div>
        </div>

    </div>
</section>
