<section class="innbanner">
    <img src="assets/images/epayment.jpg">
    <h2>E-Payment</h2>
</section>
<section class="uk-section uk-padding-remove-top" style="margin-top: 20px;">
    <div class="uk-container" style="margin-bottom: 10%;">
        <!-- <img src="assets/images/top_header.png" width="100%" height="100"> -->
        <div class="uk-position-relative">
            <div class="panel-heading afterLoginPanelHeading">
                <i class="fa fa-credit-card">   e-Payment Registration</i>   
            </div>
            <div class="row" style="text-align:-webkit-center;text-align: -moz-center;">
                <div class="col-sm-4">
                 <div class="view">
                    <a href="https://tax.onlinemnn.com/SearchHouseDetailsF.aspx" target="_blank" data-confirm="You are being redirected to an external website. Please note that  Moradabad smartcity cannot be held responsible for external websites content & privacy policies.">
                        <img src="assets/images/waterbill.png">
                    </a>
                </div>
                <h6 style="margin-top: 10px;">Water Tax Registration</h6>
                </div>
                <div class="col-sm-4">
                    <div class="view">
                    <a href="https://tax.onlinemnn.com/SearchHouseDetailsF.aspx" target="_blank" data-confirm="You are being redirected to an external website. Please note that  Moradabad smartcity cannot be held responsible for external websites content & privacy policies.">
                        <img src="assets/images/propertytax.png">
                    </a>
                </div>
                <h6 style="margin-top: 10px;">Register your house Tax</h6>
                </div>
                <div class="col-sm-4">
                    <div class="view">
                        <a href="https://www.uppclonline.com/dispatch/Portal/appmanager/uppcl/mobwss?_nfpb=true&_pageLabel=uppcl_billInfo_mpayBill&pageID=MB_1009#wlp_uppcl_billInfo_mpayBill"
                        target="_blank" data-confirm="You are being redirected to an external website. Please note that  Moradabad  smartcity cannot be held responsible for external websites content & privacy policies.">
                            <img src="assets/images/electracitybill.png">
                        </a>
                   </div>
                   <h6 style="margin-top: 10px;">Electricity Bill payment</h6>
                </div>
            </div>
        </div>
    </div>   
</section>
