<section class="innbanner">
<img src="assets/images/cctv.jpg">
 <h2>CCTV</h2>
</section><br>
<section class="uk-section-small">
    <div class="uk-container">
        <div class="uk-width-expand@m uk-width-1-1">
           
            <div class="row">
                <div class="col-md-8">
                    <h4>Smart City Surveillance</h4>
                    <p>For the purpose of providing better security and safety to urban areas in the state, 
                        Smart City Surveillance has been launched. Under the scheme, urban areas will be covered 
                        in the first phase of 2015-16.</p>
                        <p>CCTV surveillance camera with a proper command and control System will be established under the scheme. 
                            The facility of video Management System and Video Analysis will be available in the scheme.</p>
                </div>
                <div class="col-md-4">
                    <img class="imgBord imgRight whatNewArticleImg" src="assets/images/cctvsurvialence.jpeg" height="218" width="268">
                </div>
            </div>
            
        </div>
    </div>
</section>
