<section class="innbanner">
    <img src="assets/images/tourist-place.jpg">
    <h2>Tourist Places</h2>
</section>

<div class="row thumbs_view" id="row-thumbs-view">
    <div class="">
        <div class="touristContainer equal-height" id="tourist-place-container">
            <div class="tourmainContent tourist-ctnt-one" id="tourist-place">
                <a title="Gautam Budh Park Moradabad"
                routerLink="/goutamBudhaPark"
                    class="photoImgContainer">
                    <img class="img-responsive"
                        src="assets/images/budh-1.jpg" style="height:250px;width:100%;"
                        alt="Gautam Buddha Park Moradabad">
                </a>

                <div class="photoTxtContainer">
                    <a title="Gautam Budh Park Moradabad" id="place-id"
                    routerLink="/goutamBudhaPark"
                        class="txtHeading">Gautam Budh Park Moradabad</a>

                    <p>Gautam Buddha Park is situated at Moradabad, on the Harthola Station Road. Gautam Buddha
                        Park is one of the many<a routerLink="/goutamBudhaPark">Read more...</a></p>
                    <div class="shareGalleryContainer clearfix">

                    </div>
                </div>
            </div>

            <div class="tourmainContent tourist-ctnt-one" id="tourist-place">
                <a title="Sai Temple MDA" routerLink="/saiTemple"
                    class="photoImgContainer">
                    <img class="img-responsive"
                        src="assets/images/sai-temple-1.jpg" style="height:250px;width:100%;"
                        alt="Sai Temple MDA">
                </a>

                <div class="photoTxtContainer">
                    <a title="Sai Temple MDA" id="place-id" 
                    routerLink="/saiTemple"
                    class="txtHeading">Sai Temple MDA</a>

                    <p>Sai Temple is located in Deen Dayal Nagar, Phase II region around the Shri Sai Karuna
                        Dham in<a routerLink="/saiTemple">Read more...</a></p>
                    <div class="shareGalleryContainer clearfix">

                    </div>
                </div>
            </div>
            <div class="tourmainContent tourist-ctnt-one" id="tourist-place">
                <a title="Raza Library Moradabad"
                    href="#"
                    class="photoImgContainer">
                    <img class="img-responsive"
                        src="assets/images/raja-lib-1.jpg" style="height:250px;width:100%;"
                        alt="Raza Library Moradabad">
                </a>

                <div class="photoTxtContainer">
                    <a title="Raza Library Moradabad" id="place-id" routerLink="/razalibrary" class="txtHeading">
                       Raza Library Moradabad</a>
                    <p>Raza Library is situated at Moradabad, on the Harthola Station Road. Gautam Buddha
                        Park is one of the many<a routerLink="/razalibrary">Read more...</a></p>
                    <div class="shareGalleryContainer clearfix">

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
