
<!-- page content -->
<section class="innbanner">
<img src="assets/images/board_of_directors_banner.png">
    <h2>Board</h2>

</section>

<section id="board-of-directory" class="about-us">
    <div class="container">
        <div class="col-md-12 text-center">
            <div class="title">
               <h2 style="font-size: large;">BOARD OF DIRECTORS</h2>
               <p style="width:100%;">The Board of Directors are representatives of Central Government, State Government, ULB and Independent Directors, in addition to the CEO and Functional Directors. Additional Directors (such as representative of parastatal) may be taken on the Board, as considered necessary. The Company and shareholders will voluntarily comply with the provision of the Companies Act 2013 with respect to induction of independent directors. Below, are the board of directors in Moradabad Smart City Limited SPV Board:</p>
               <div class="border"></div>
            </div>
         </div>
        <div class="row mb-3">

            <div class="col-md-4 board-member">
            <div class="media board-member-info">
            <div class="mediaimage">
            <img class="align-self-center" style="width:130px;height: 130px;" src="assets/images/chairman.jpg">
            </div>
            <div class="media-body">
            <h6>Shri Ajay Shankar Pandey</h6>
            <p>Chairman, MSCL and Divisional Commissioner, Moradabad Division</p>
            </div></div></div>
                                     
            <div class="col-md-4 board-member">
            <div class="media board-member-info">
            <div class="mediaimage">
            <img class="align-self-center" style="width:130px;height: 130px;" src="/assets/images/avinash.png">
            </div>
            <div class="media-body">
            <h6>Shri Avnish Rai</h6>
            <p>CEO/Director, MSCL and Municipal Commissioner, Nagar Nigam, Moradabad</p>
            </div></div></div>
                                     
            <div class="col-md-4 board-member">
            <div class="media board-member-info">
            <div class="mediaimage">
            <img class="align-self-center" style="width:130px;height: 130px;" src="/assets/images/rajesh.jpg">
            </div>
            <div class="media-body">
            <h6>Shri Rajesh Kumar</h6>
            <p>Director, MSCL and Chief Engineer, Jal Nigam, Moradabad</p>
            </div></div></div>
                                     
            <div class="col-md-4 board-member">
            <div class="media board-member-info">
            <div class="mediaimage">
            <img class="align-self-center" style="width:130px;height: 130px;" src="/assets/images/directorauthority.jpg">
            </div>
            <div class="media-body">
            <h6>Shri Sarvesh Kumar Dixit</h6>
            <p>Director, MSCL and Vice Chairman, Moradabad Development Authority</p>
            </div></div></div>
                                     
            <div class="col-md-4 board-member">
            <div class="media board-member-info">
            <div class="mediaimage">
            <img class="align-self-center" style="width:130px;height: 130px;" src="/o/com.kpmg.boardofDirectors/images/usericon.png">
            </div>
            <div class="media-body">
            <h6>Shri S R Garg</h6>
            <p>Director, MSCL and Supritendent Engineer, Moradabad Development Authority</p>
            </div></div></div>
                                     
            <div class="col-md-4 board-member">
            <div class="media board-member-info">
            <div class="mediaimage">
            <img class="align-self-center" style="width:130px;height: 130px;" src="/o/com.kpmg.boardofDirectors/images/usericon.png">
            </div>
            <div class="media-body">
            <h6>Dr Kajal</h6>
            <p>Director, MSCL and Supritendent Engineer, Dakshinanchal Power Distribution Limited</p>
            </div></div></div>
                                     
            <div class="col-md-4 board-member">
            <div class="media board-member-info">
            <div class="mediaimage">
            <img class="align-self-center" style="width:130px;height: 130px;" src="/assets/images/akgupta.png">
            </div>
            <div class="media-body">
            <h6>Shri A K Gupta</h6>
            <p>Director, MSCL and Additional Director, RCUES, Moradabad</p>
            </div></div></div>
                                     
            <div class="col-md-4 board-member">
            <div class="media board-member-info">
            <div class="mediaimage">
            <img class="align-self-center" style="width:130px;height: 130px;" src="/assets/images/vamsi.jpg">
            </div>
            <div class="media-body">
            <h6>Shri Andra Vamsi</h6>
            <p>Director, MSCL and District Magistrate, Moradabad</p>
            </div></div></div>
                                     
            <div class="col-md-4 board-member">
            <div class="media board-member-info">
            <div class="mediaimage">
            <img class="align-self-center" style="width:130px;height: 130px;" src="/o/com.kpmg.boardofDirectors/images/usericon.png">
            </div>
            <div class="media-body">
            <h6>Shri Narendra Kumar Pushkarna</h6>
            <p>Director, MSCL and Associate Director, Town and Country Planning Department</p>
            </div></div></div>
                                                    
                   </div>

    </div>
</section>
