<section class="innbanner">
    <img src="assets/images/signboard1.png">
    <h2>Message Sign Board</h2>
</section>
<section class="uk-section-small">
    <div class="uk-container">
    <div class="uk-width-expand@m uk-width-1-1">
        <div class="row">
                <p>VMD Traffic offers a full range of Variable Message Signs. As centralized traffic flow management tools,
                    VMD Traffic Variable Message Signs provide real-time information on traffic conditions to warn road users, 
                    optimizing route selection decisions and enhancing road safety. BioVMD Traffic range of Variable Message
                     Signs is the right answer for roads, highways, and city street applications.</p>
                     <h6>User-friendly software</h6><br><br><br>
                <div class="col-md-6">
                   
                    <ul class="messagesignboard">
                        <li>Fully Programmable with different presentation modes</li>
                        <li>Various font and character height options</li>
                        <li>Simple graphics and animations</li>
                        <li>Current time display</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="messagesignboard">
                        <li>Temperature sensor to display current temperature</li>
                        <li>Scheduling software</li>
                        <li>Event countdown feature</li>
                        <li>Messages can be changed instantly from PC on site or a remote location via wireless links or through the Internet</li>
                    </ul>
                </div>
            
        </div>
        <h6>Solution Benefits</h6>
        <h6>VMD is an out-of-the-box solution for Variable Messaging Displays which provides :</h6>
        <div class="row">
            <div class="col-md-6">
                <ul class="messagesignboard">
                    <li>Information about convenient routes to be followed when large volumes of traffic are likely to be attracted to:</li>
                    <ul class="messagesign">
                          <li>A sporting event;</li>
                          <li>An exhibition;</li>
                          <li>Or any other public gathering</li>
                    </ul>
                    <li>Information about diversions or alternative routes</li>
                    <li>Information about the availability of new routes or destinations</li>
                    <li>Information about changes in route numbers</li>
                    <li>Warnings or information about a civil emergency or the prospect of a civil emergency.</li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="messagesignboard">
                    <li>Warnings about, or information on how to avoid, any temporary hazards caused by –</li>
                    <ul class="messageboard">
                        <li>Work being executed on or near a road.</li>
                        <li>Adverse weather conditions or other natural causes.</li>
                        <li>The failure of street lighting or malfunction of any other equipment etc. used in connection with the road or situated on or near it</li>
                        <li>Damage to the road itself.</li>
                        <li>Requests by the police for information in connection with road traffic accidents.</li>
                    </ul>
                </ul>
            </div>
        </div><br>
       <h6>MESSAGING DISPLAY UNIT</h6><br>
       <div class="row">
           <div class="col-md-6">
               <h6>The Display Unit</h6><br>
               <p>Display unit is built-into an aluminum alloy housing that, depending on where it is to be located, 
                   can be fitted with heating control systems, weatherproofing, brightness and contrast level controls, etc.</p>
                <ul class="messagesignboard">
                    <li>LED colour options</li>
                    <ul>
                        <li>> True Colour, Full-colour (red, green & blue LEDs - creating 16 million colours)</li>
                        <li>> LED brightness for all situations: outdoor, window or indoor LED brightness</li>
                    </ul>
                    <li><b>Capabilities : </b> Alpha-Numeric, Pictorials, Graphical and Videos (100% anti-glare display)</li>
                    <li><b>Text Languages :</b> Pictograms, English , Hindi</li>
                    <li><b>Style : </b> Steady, flash, partial flash, right entry, left entry, top entry, bottom entry, canter spread, blank, and dimming</li>
                </ul>
           </div>
           <div class="col-md-6">
               <h6>Beamwidth : B66+</h6><br>
               <ul class="messagesignboard">
                   <li>Various screens, pitch & resolution</li>
                   <ul>
                       <li>> Pitch is the distance between LED clusters</li>
                       <li>> Resolution is the number of dots</li>
                   </ul>
                   <h6>Sign Mounting Structure And Local Controller Cabinet</h6>
                   <ul  class="messagesignboard">
                       <li>Each variable message sign mounting requires written specifications. As per application,
                            the variable message Sign mountings may use an overhead gantry, high mast, pole mounting 
                            structure design required for specific construction works.</li>
                       <li>The local control cabinet enables operators to perform local mode message display 
                           configuration to ensure that the Variable Message Signs are operating correctly. </li>
                       <li>Strong aluminium, weather resistant enclosure to suit local weather conditions</li>
                       <li>IP65 rated cabinets (outdoors)</li>
                   </ul>
               </ul>
           </div>
       </div><br>
       <div class="row">
           <div class="col-md-6">
                <h6>System Components:</h6><br>
                <ul class="messagesign">
                   <b><li>Operator Facilities</li></b> 
                    <p>The control system and the control application There are two ways to manage the Variable Message 
                        Sign displays linked to a centralized traffic management system:</p>
                        <ul class="messagesignboard">
                            <li>From a control station using management software dedicated to the application in operation . 
                                This system can also include other devices (data collection stations, directional lane signs, 
                                variable speed limit signs, etc.).</li>
                            <li>Using an MMi graphical user interface that can handle communication between an existing traffic 
                                supervision and the Variable Message Sign systems.</li>
                        </ul>
                </ul>
           </div>
           <div class="col-md-6">
            <ul class="messagesign">
                <b><li>Connectivity and Integration</li></b>
                <p>IP Based Interface with GPRS or Ethernet . Integration with Smart City Operations Center and service providers for offering G2C and B2C services.</p>
                <b><li>Software</li></b>
                <p>VMD Software is a powerful software tool to remotely manage all types of traffic management Variable Message Signs.
                     Developed using a WINDOWS platform, this offers the perfect environment to operators who wish to control 
                     or drive all field equipment using an adaptive graphical user interface.</p>
            </ul>
           </div>
       </div>
    </div>
    </div>

</section>

