<section class="innbanner">
    <img src="assets/images/government-up.png">
    <h2>Government of UP</h2>
  </section>
<section>
        <div class="container-fluid uk-position-relative panel-heading">
            <div class="panel-heading afterLoginPanelHeading">
                Government
            </div>
            <div class="serice-item-list">
                <div class="container">
                    <p style="padding-top: 30px;">Under the Constitution of India, Uttar Pradesh has a Governor and a bi-cameral Legislature.</p>
                    <p>The Lower House is called Vidhan Sabha and the Upper House, Vidhan Parishad.The State has also a High Court.</p>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group mx-2 my-4">
                                <label class="align-middle custom_badge" for="inputCountry">Current Governor's Profile </label>
                                <h3 class="boxclass">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <p style="background-color: maroon;color: #fff;border: 1px solid chartreuse;padding: 2px;max-width: 50%;">Hon. Governor</p>
                                            <p>Smt. Anandiben Mafatbhai Patel</p>
                                        </div>
                                        <div class="col-sm-4">
                                            <img src="assets/images/upgov.jpg" class="img-fluid">
                                        </div>
                                    </div>
                                </h3>
                               </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group mx-2 my-4">
                                <label class="align-middle custom_badge" for="inputName">Current Chief Minister</label>
                                <h3 class="boxclass">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <p style="background-color: maroon;color: #fff;border: 1px solid chartreuse;padding: 2px;max-width: 60%;">Hon. Chief Minister</p>
                                            <p>Yogi Adityanath</p>
                                        </div>
                                        <div class="col-sm-4">
                                            <img src="assets/images/Yogi_Adityanath_CMUP.jpg" class="img-fluid">
                                        </div>
                                    </div>
                                    
                                </h3>
                            </div>
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group mx-2 my-4">
                                <label class="align-middle custom_badge" for="inputCountry">Deputy Chief Minister </label>
                                <h3 class="boxclass">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <p style="background-color: maroon;color: #fff;border: 1px solid chartreuse;padding: 2px;max-width: 85%;">Hon. Deputy Chief Minister</p>
                                            <p>Sri Keshav Prasad Maurya</p>
                                        </div>
                                        <div class="col-sm-4">
                                            <img src="assets/images/Keshav_Maurya_DeputyCM.jpg" class="img-fluid">
                                        </div>
                                    </div>
                                    
                                </h3>
                               </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group mx-2 my-4">
                                <label class="align-middle custom_badge" for="inputName">Deputy Chief Minister </label>
                                <h3 class="boxclass">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <p style="background-color: maroon;color: #fff;border: 1px solid chartreuse;padding: 2px;max-width: 85%;">Hon. Deputy Chief Minister</p>
                                            <p>Dr. Dinesh Sharma</p>
                                        </div>
                                        <div class="col-sm-4">
                                            <img src="assets/images/dinesh_sharma_deputy_cm.jpg" class="img-fluid">
                                        </div>
                                    </div>
                                    
                                </h3>
                            </div>
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group mx-2 my-4">
                                <label class="align-middle custom_badge" for="inputCountry">Ex CMs of U.P.</label>
                                <h3 class="boxclass">
                                    <p style="background-color: maroon;color: #fff;border: 1px solid chartreuse;padding: 2px;max-width: 65%;">Hon. Chief Ministers</p>
                                    <p>Sri Akhilesh Yadav</p>
                                    <p>Ms. Mayawati</p>
                                    <p>Sri Mulayam Singh Yadav</p>
                                    
                                </h3>
                               </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group mx-2 my-4">
                                <label class="align-middle custom_badge" for="inputName">Former Governors </label>
                                <h3 class="boxclass">
                                    <p style="background-color: maroon;color: #fff;border: 1px solid chartreuse;padding: 2px;max-width: 50%;">Hon. Governors</p>
                                    <p>Shri Ram Naik</p>
                                    <p>Dr. Aziz Qureshi</p>
                                    <p>Shri B.L Joshi</p>
                                </h3>
                            </div>
                            
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group mx-2 my-4">
                                <label class="align-middle custom_badge" for="inputCountry">U.P. Ministry</label>
                                <h3 class="boxclass">
                                    <p style="background-color: maroon;color: #fff;border: 1px solid chartreuse;padding: 2px;max-width: 50%;">Hon. Ministry</p>
                                    <p>Suresh Khanna</p>
                                    <p>Surya Pratap Shahi</p>
                                    <p>Suresh Khanna</p>
                                   
                                </h3>
                               </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
</section>