<section class="uk-section-small">
    <h3>Disclaimer</h3>
      <div class="container" style="margin-top: 20px;">
        <p>All information/Data contained herein is to be used for reference and as guidelines only and are based on 
            record/information available with the Moradabad Smart City Ltd (MSCL). All possible care has been taken to
             verify the accuracy/correctness of the information/data, neither MSCL, nor its officer, vendor, 
             assume any kind of responsibility for the accuracy/correctness or for any loss arising out of any 
             information contained herein.</p>
        <p>MSCL is in no way responsible for any claim/s arising out of the use / quote of any information/data displayed/shown on the 
            website/mobile application. The information/data contained herein should not be construed as a statement of law or used for
             any legal purposes. Any action you take upon the information/data available herein is strictly at your own risk and MSCL 
             will not be liable for any expense, losses and damages including, indirect and consequential loss or damages whatsoever 
             arising from or in connection with the use of such information/data.</p>
        <p>MSCL reserves the rights to modify and/or change anything (including technical / non-technical and general information/s.
             Any kind of data, statistics, styling or mode of presentation/operation, or any content therein on this website/mobile 
             application at any point of time, without prior notice or reason. Many of the services available mentioned herein have been 
             integrated online with other back-end systems. Hence, the availability of these services is dependent upon the back-end system.
              In case any service is temporarily not available, MSCL will not be responsible for the same. However, the support team shall
               act on resolving the issues at the earliest.</p>
      </div>
</section>
