<section class="innbanner">
    <img src="assets/images/sitemap.png">
    <h2>Sitemap</h2>
</section>
<section>
    <div>
        <div class="container-fluid uk-position-relative panel-heading">
            <div class="panel-heading afterLoginPanelHeading">
                Sitemap
            </div>
            <div class="serice-item-list">
                <div class="row" style="padding: 40px;">
                    <div class="col-sm-6">
                        
                        <ul class="mainmenu">
                            <li><a href="./" style="color: #0a0a0a">Home</a>
                                <ul class="submenus">
                                    <li><a href="./" style="color: #1800f4;">Latest News</a></li>
                                    <li><a href="./" style="color: #1800f4;">Latest Notification</a></li>
                                    <li><a href="./" style="color: #1800f4;">Smartcity at a Glance</a></li>
                                    <li><a href="./" style="color: #1800f4;">Tenders</a></li>
                                    <li><a href="./" style="color: #1800f4;">Public Services</a>
                                        <ul class="submenuss">
                                            <li routerLink="/e-court">E-Court</li>
                                            <li routerLink="/e-health">E-Health</li>
                                            <li routerLink="/e-payment">E-Payment</li>
                                            <li routerLink="/transport">Transport</li>
                                            <li routerLink="/e-helpline">E-Helpline</li>
                                            <li routerLink="/gis">GIS Portal</li>
                                            <li routerLink="/complaint">Complaint Register</li>
                                            <li routerLink="/geo-location">Geo Location</li>
                                        </ul>
                                    </li>
                                    <li><a href="./" style="color: #1800f4;">Smart Solution</a>
                                        <ul class="submenuss">
                                            <li routerLink="/cctv">CCTV Surveillance</li>
                                            <li routerLink="/messagesignboard">Variable Message Sign Board</li>
                                            <li routerLink="/wifi">WiFi</li>
                                            <li><a href="https://moradabad.nic.in/past-notices/announcements/" style="color: #1800f4;" target="_blank" data-confirm="You are being redirected to an external website. Please note that  Moradabad smartcity cannot be held responsible for external websites content & privacy policies.">Public Announcement</a></li>
                                            <li routerLink="/emergencyCallbox">Emergency Call Box</li>
                                            <li><a href="https://cpcb.nic.in/Actionplan/Moradabad.pdf" style="color: #1800f4" target="_blank" data-confirm="You are being redirected to an external website. Please note that Moradabad smartcity cannot be held responsible for external websites content & privacy policies.">Environmental System</a></li>
                                            <li routerLink="/integratedtraffic">Integrated Traffic Solutions</li>

                                        </ul>
                                    </li>
                                    <li routerLink="/viewAllEvents">Smart City Events</li>
                                    <li routerLink="/famousPlace">Famous Place</li>
                                    <li><a href="./" style="color: #1800f4;">Important Links</a></li>

                                </ul>
                            </li>
                        </ul>
                        
                        <ul class="mainmenu">
                            <li>Download
                                <ul class="submenus">
                                    <li  routerLink="/download">Plan Report</li>
                                    <li><a href="https://censusindia.gov.in/" style="color: #1800f4;" target="_blank" data-confirm="You are being redirected to an external website. Please note that  Moradabad smartcity cannot be held responsible for external websites content & privacy policies.">Census</a></li>
                                    <li routerLink="/districtprofile">District Profile</li>
                                    <li routerLink="/statisticalreport">Statistical Report</li>
                                </ul>
                            </li>
                        </ul>
                       
                       
                        
                    </div>
                    <div class="col-sm-6" style="margin-top: -30px;">
                        
                        <ul class="mainmenu">
                            <li routerLink="/about">Aboutus
                                <ul class="submenus">
                                    <li routerLink="/missionAndVision">Mission & Vission</li>
                                    <li routerLink="/corporation">Corporation</li>
                                    <li routerLink="/messageFromCmd">Message from the CMD</li>
                                    <li routerLink="/boardOfDir">Board of Directory</li>
                                    <li routerLink="/shareholding">Shareholding pattern</li>
                                    <li routerLink="/organogram">Organogram</li>
                                    <li routerLink="/key">Key Personnel</li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="mainmenu">
                            <li>MSCL
                                <ul class="submenus">
                                    <li routerLink="/about">About Moradabad</li>
                                    <li routerLink="/masterPlan">Master Plan</li>
                                    <li  routerLink="/keystatistics">Key Statistics</li>
                                    <li routerLink="/touristPlace">Tourist Locations</li>
                                    <li routerLink="/culturalHistory">Cultural History</li>
                                    <li routerLink="/government">Government of UP</li>
                                    
                                </ul>
                            </li>
                        </ul>
                        <ul class="mainmenu">
                            <li>Gallery
                                <ul class="submenus">
                                    <li routerLink="/photos">Photo Gallery</li>
                                    <li routerLink="/videos">Video Gallery</li>   
                                </ul>
                            </li>
                        </ul>
                        <ul class="mainmenu">
                            <li>Tender & Notices
                                <ul class="submenus">
                                    <li routerLink="/tenders">Tender</li>
                                    <li routerLink="/notification">Notifications</li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="mainmenu">
                            <li>Project Status
                                <ul class="submenus">
                                    <li routerLink="/areaBasedDevelopment">Area Based Development</li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="mainmenu">
                            <li>Booking & Calendar
                                <ul class="submenus">
                                    <li routerLink="/eventlist">Event Details</li>
                                    <li routerLink="/calendar">Bookings</li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="mainmenu">
                            <li routerLink="/contactUs">Contact</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
    </div>   
</section>