<section class="uk-section-small">
    <h3>Privacy Policy</h3>
      <div class="container" style="margin-top: 20px;margin-bottom: 5%;">
        <p>Moradabad Smart City Ltd. does not automatically capture any specific personal information from you, (like Name, Phone Number or E-mail Address) that allows us to identify you individually.</p>
        <p>We do not sell or share any personally identifiable information volunteered on the Moradabad Smart City site to any third party (Public/Private). Any information provided to this Portal will be protected from loss, misuse, unauthorized access or disclosure, alteration or destruction.</p>
        <p>A cookie is a piece of software code that an internet web site sends to your browser when you access information at that site. This site does not use cookies.</p>

      </div>
</section>
