<section class="innbanner">
 <img src="assets/images/team/water1.gif"> 
    <h2>Our Plan</h2>

</section>

<section id="master-plan" class="about-us">
    <div class="container">
        <h2 class="main-title">Our Master Plan 2023</h2>
        <div class="row intro-wrap left-thumb">
            <div class="col-md-6 thumb">
                <img src="assets/images/team/water2.jpg" class="img-responsive"
                    alt="Odisha Forest Department Master Plan 2023">
            </div>
            <div class="col-md-6 info">
                <p align="justify">The Master plan -2023 of the OFDC has been designed by the Development
                    Authority keeping in mind the ever growing population, latest trends, financial development and
                    the rise in the tourism sector but the perseverance of old architecture and conservation of
                    cultural heritage of the city has been given the almost importance. </p>
                <a  class="button large primary rounded apply-button">Master Plan 2023 (Standard)</a> 
                    <a class="button large primary rounded apply-button">Master plan 2023</a>
            </div>  
        </div>
    </div>
</section>

