<!-- <section class="innbanner">
    <h2>Login</h2>
</section>
        
<section class="uk-section-small" id="login-section">
    <div class="login">
        <ul class="uk-subnav uk-subnav-pill uk-flex uk-flex-center" uk-switcher="animation: uk-animation-fade">
            <li><a href="#">User</a></li>
            <li><a href="#">Department</a></li>
        </ul>
        <ul class="uk-switcher uk-margin">
            <li>
                <div class="uk-margin-small">
                    <input class="uk-input" type="text" placeholder="Username">
                </div>
                <div class="uk-margin-small">
                    <input class="uk-input" type="password" placeholder="Password">
                </div>
                <div class="uk-margin-small">
                    <button class="uk-button uk-button-primary uk-width-1-1">Login</button>
                </div>
                <div class="uk-flex uk-flex-between">
                    <a class="tap uk-text-small">Forgot Password</a>
                    <p class="uk-margin-remove uk-text-small">Don't have an account <a class="tap" routerLink="/sendOtp">Register</a></p>
                </div>
            </li>
            <li>
                <div class="uk-margin-small">
                    <input class="uk-input" type="text" placeholder="Employee ID">
                </div>
                <div class="uk-margin-small">
                    <input class="uk-input" type="password" placeholder="Password">
                </div>
                <div class="uk-margin-small">
                    <button class="uk-button uk-button-primary uk-width-1-1">Login</button>
                </div>
                <div class="uk-flex uk-flex-between">
                    <a class="tap uk-text-small">Forgot Password</a>
                    <p class="uk-margin-remove uk-text-small">Don't have an account <a class="tap" routerLink="/sendOtp">Register</a></p>
                </div>
            </li>
        </ul>
    </div>
</section> -->

<!-- <form [formGroup]="loginForm" (ngSubmit)="submit()">
    <div class="uk-margin-small">
        <input class="form-control uk-input uk-form-danger uk-form-width-medium" type="text" placeholder="Username" id="userName"
            [ngClass]="{ 'is-invalid': submitted && f.userName.errors }" formControlName="userName" />
        <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">  
            <div *ngIf="f.userName.errors.required">Username is required</div>
        </div>  
    </div>
    <div class="uk-margin-small">
        <input class="form-control uk-input uk-form-danger uk-form-width-medium" type="password" placeholder="Password" id="password"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" formControlName="password" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">  
            <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
    </div>
    <div class="uk-margin-small">
        <button class="uk-button uk-button-primary uk-width-1-1">Login</button>
    </div>
    <div class="uk-flex uk-flex-between">
        <p class="uk-margin-remove uk-text-small">Please Insert Employee ID and password provided by Department</p>
    </div>
</form> -->