.uk-padding-remove-top{
    margin-top: 10px;
}
.panel-heading.afterLoginPanelHeading {
    // background-color: rgb(243, 116, 53);
    background: linear-gradient(to left, #f8ce25, #f45200);
    padding: 5px 10px !important;
    color: #fff;
    font-size: 20px;  
}
.uk-position-relative{
    padding-top: 5px;
}
.staticTheadColor {
    background: #f1f1f1 !important;
    color: #555;
    font-weight: bold;
}
.wifilist{
    list-style-type: disc;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-size: 15px;
    line-height: 30px;
    margin-left: 15px;
}

.innbanner  img{
    height: 370px;
    position: relative;
    // background-size: cover;
    background-position: bottom center;
    /* background-attachment: fixed; */
    background-attachment: initial;
    background-size: 100% 100%;
    width: 100%;
   

  }
  .innbanner h2 {
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: #273a4a70;
      padding: 30px;
      border-radius: 20px;
  }
  img {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: auto; /* Set a small width */
    height: 100%;
  }