<section class="innbanner">
    <img src="assets/images/wifi/wifinewbanner.png" style="margin-top: 50px;">
    <h2>WI-FI</h2>
</section>
<section class="uk-section uk-padding-remove-top" style="margin-top: 70px;">
    <div class="uk-container">
        <div class="uk-position-relative">
            <div class="panel-heading afterLoginPanelHeading">
                <i class="fa fa-wifi"> ESTABLISHING OF WI-FI HOTSPOTS</i>
            </div>
            <div class="row" style="margin-top:15px">
                <div class="uk-child-width-1-5@m uk-child-width-1-2 gallery uk-grid-small col-md-12" uk-grid>
                    <div>
                        <img src="assets/images/wifi/wifi1.png" alt="" class="img-fluid">
                        <h6 style="text-align: center;">Curcuit House</h6>
                    </div>
                    <div>
                        <img src="assets/images/wifi/wifi2.png" alt="" class="img-fluid">

                        <h6 style="text-align: center;">District Hospital CO Office</h6>
                    </div>
                    <div>
                        <img src="assets/images/wifi/wifi3.png" alt="" class="img-fluid">

                        <h6 style="text-align: center;">Kanchari Gate</h6>
                    </div>
                    <div>
                        <img src="assets/images/wifi/wifi4.png" alt="" class="img-fluid">

                        <h6 style="text-align: center;">Vivekananda Hospital</h6>
                    </div><br><br>
                    <div>
                        <img src="assets/images/wifi/wifi5.png" alt="" class="img-fluid">

                        <h6 style="text-align: center;">Town Hall</h6>
                    </div>
                    <div>
                        <img src="assets/images/wifi/wifi6.png" alt="" class="img-fluid" style="margin-top: 20px;">

                        <h6 style="text-align: center;">Sai Temple</h6>
                    </div>
                    <div>
                        <img src="assets/images/wifi/wifi7.png" alt="" class="img-fluid" style="margin-top: 20px;">

                        <h6 style="text-align: center;">Pilikothi Nagar Nigam Awash</h6>
                    </div>
                    <div>
                        <img src="assets/images/wifi/wifi8.png" alt="" class="img-fluid" style="margin-top: 20px;">

                        <h6 style="text-align: center;">Peetal Nagari Bus Stand</h6>
                    </div>
                    <div>
                        <img src="assets/images/wifi/wifi9.png" alt="" class="img-fluid" style="margin-top: 20px;">

                        <h6 style="text-align: center;">Sonakpur Stadium</h6>
                    </div>
                    <div>
                        <img src="assets/images/wifi/wifi10.png" alt="" class="img-fluid" style="margin-top: 20px;">
                        <h6 style="text-align: center;">Delhi Roadways Bus Stand Gandhi Nagar</h6>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:75px">
                <div class="col-md-6">
                    <h4 style="color: brown;">How to Use</h4>
                    <ul class="wifilist">
                        <li>Turn on Wi-Fi on your mobile device.
                        </li>
                        <li>User device searches nearby Wi-Fi access points and the device shows up SSID with name
                            “MORADABAD SMART CITY”
                        </li>
                        <li>Click on SSID, which will connect and shows the pop-up for login.</li>
                        <li>Click on pop-up, which will redirect to login page, where user must give his “Name”,
                            “E-mail” and “Mobile Number” and click on “Submit” button.</li>
                        <li>One-time password (OTP) will be sent on registered mobile number entered by the user.
                        </li>
                        <li>Submit the OTP as shown in the picture and start using free Wi-Fi.
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h4 style="color: brown;">कैसे उपयोग  करें</h4>
                    <ul class="wifilist">
                        <li>अपने मोबाइल डिवाइस पर वाई-फाई  चालू करें ।
                        </li>
                        <li>उपयोगकर्ता डिवाइस  पास  के वाई-फाई एक्सेस पॉइंट को खोज करता है और डिवाइस SSID को “MORADABAD SMART CITY” नाम से दिखाता है।
                        </li>
                        <li>SSID पर क्लिक करें, जो लॉगिन के लिए पॉप अप को दिखाएगा ।</li>
                        <li>पॉप-अप पर क्लिक करें, जो लॉगिन पृष्ठ पर रीडायरेक्ट करेगा, जहां उपयोगकर्ता को अपना "नाम", "ई-मेल" और "मोबाइल नंबर" देना होगा  और "सबमिट" बटन पर क्लिक करना होगा ।</li>
                        <li>वन टाईम पासवर्ड (OTP) सबमिट किए गए रजिस्टर्ड मोबाइल नंबर पर भेजा जाएगा ।

                        </li>
                        <li>आप इस वन टाईम पासवर्ड (OTP) को दिखाए चित्र के अनुसार सबमिट करें और फ्री वाई-फाई उपयोग करें ।

                        </li>
                    </ul>
                </div>

            </div>
        </div>

    </div>
</section>