<section class="innbanner">
    <img src="assets/images/notification.png">
    <h2>Notifications</h2>
</section>
<!-- End Breadcrumbs -->
<!-- ======= About Us Section ======= -->
<section id="key-personel" class="about-us">
    <div class="container">
        <div class="col-12" style="padding-top:1rem;">
            <div class="title text-center event">
                <h2 style="font-size: large;">Public Notification</h2>
                <div class="border"></div>
            </div>
        </div>
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr class="table-primary key-personel">
                            <th>Sl.No</th>
                            <th class="text-left">e-Published Date</th>
                            <th class="text-left">Title and Ref.No.</th>
                            <th class="text-left"> Download Notification</th>
                        </tr>
                    </thead>
                    <tbody style="font-size:16px;" class="notification-table">
                        <tr>
                            <td>1</td>
                            <td>11.03.2021</td>
                            <td> Application for the post of Company Secretary</td>
                            <td><a (click)="downloadMyFile()">Download</a></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>12.03.2021</td>
                            <td> RFP Ref No: 205/MSCL/2020/1 : No queries or clarification would be addressed after
                                12th of August 2020 15:00 Hrs.</td>
                            <td><a (click)="downloadMyFile()">Download</a></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>11.03.2021</td>
                            <td> Application for the post of Company Secretary</td>
                            <td><a (click)="downloadMyFile()">Download</a></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>12.03.2021</td>
                            <td> RFP Ref No: 205/MSCL/2020/1 : No queries or clarification would be addressed after
                                12th of August 2020 15:00 Hrs.</td>
                            <td><a (click)="downloadMyFile()">Download</a></td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>12.03.2021</td>
                            <td> RFP Ref No: 205/MSCL/2020/1 : No queries or clarification would be addressed after
                                12th of August 2020 15:00 Hrs.</td>
                            <td><a (click)="downloadMyFile()">Download</a></td>
                        </tr>
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    </div>
</section>
