<section class="innbanner">
    <img  src="assets/images/key-personel.jpg">
    <h2>Key Personel</h2>
</section>
<section id="key-personel" class="about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead class="keypersonel">
                            <tr class="table-primary">
                                <th>Sl.No</th>
                                <th class="text-left">Name</th>
                                <th class="text-left">Post</th>
                            </tr>
                        </thead>
                        <tbody style="font-size:16px;" class="keypersonel-table">
                            <tr>
                                <td>1</td>
                                <td>Shri Aunjaneya Kumar Singh </td>
                                <td>Commissioner</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Shri Shailendra Kumar Singh</td>
                                <td>District Magistrate</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Shri Surendra Singh </td>
                                <td> ADM-E </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Mrs. Preeti Jaiswal</td>
                                <td>ADM-F/R </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Shri Sanjay Chauhan </td>
                                <td>Municipal commissioner (Chief Executive Officer) </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>