<section class="innbanner">
    <img src="assets/images/organogram-banner.png">
    <h2 id="backdrop">Organgram</h2>
</section>
<section class="uk-section-small">
    <div class="uk-container">
        <h2 class="innhead">Organgram</h2>
        <p>Considering the divisions of the state Uttar Pradesh, there are 75 districts, 
            18 divisions, 822 blocks, 52021 Panchayats and 107452 villages. Uttar Pradesh is 
            the fifth largest state in India in terms of land area. The land area of Uttar 
            Pradesh is 240,928 km⊃2;. A district collector monitors a district. In Uttar Pradesh, 
            he is also known as a District Magistrate or DM. He is an officer from IAS or PCS who 
            gets a promotion as an IAS officer on the basis of tenure in Provincial Civil Services UPPSC.</p>
            <div class="row">
                <div class="col-md-12">
                    <article>
                        <img src="assets/images/chart.jpg">
                    </article>
                </div>
            </div>
        <p>A District Magistrate is appointed by the Government of Uttar Pradesh. A District Superintendent of Police or 
            DSP is also known as a Superintendent of Police. A DSP heads the District Police organization of the state 
            police as per the Police Act of 1861. A Sub division Police is under every sub division. The sub division Police 
            is headed by a Police officer of the rank of Assistant Superintendent of Police or DSP (Deputy Superintendent of Police). 
            Every ministry and the respective department are headed by a minister.</p>
    </div>
</section>

