<!-- ------------------------footer--------------------------------- -->
<div id="root">
    <div class="weather" id="weather">
        <!-- <div class="right" id="right" >
             <img src="assets/images/right.svg" alt="arrow"> 
             <img src="assets/images/weather.svg" alt="weather"> 
        </div> -->
        <!-- <div>
            <div class="air">
                <div>
                    <img src="assets/images/aqi.svg" alt="">
                </div>
                <div>
                    <h6>Air Quality</h6>
                    <h5>{{aqi}}</h5>
                    <a routerLink="/aqi">More info</a>
                </div>
                <div>
                    <h5>AQI Status</h5>
                    <h6>{{aqiStatus}}</h6>
                </div>
                <div>
                    <h4><span class="hh">No<sub>2 </sub></span><span class="circle green"></span> Good</h4>
                    <h4><span class="hh">PM<sub>10</sub></span> <span class="circle yellow"></span> Moderately</h4>
                    <h4><span class="hh">CO<sub>2 </sub></span><span class="circle green"></span> Good</h4>
                </div>
            </div>
        </div> -->
    </div>
    <div class="icon-bar">

        <!-- <a href="#" class="" style="background-color: #3EB489" id="minusBtn" onclick="minus()">A-</a> 
        <a href="#" class="" style="background-color: #E77471" id="defaultBtn" onclick="normal()">A</a> 
        <a href="#" class="" style="background-color: #307D7E"  id="plusBtn" onclick="plus()">A+</a>  -->
        <a href="https://www.facebook.com/SmartCityMission" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a> 
        <a href="https://twitter.com/nagarnigammbd/" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a> 
        <a href="https://instagram.com/municipalcorporationBhubaneswar/" target="_blank" class="google"><i class="fa fa-instagram"></i></a> 
        <a href="#" class="youtube"><i class="fa fa-youtube"></i></a> 
      </div>
<footer id="footer" class="bg-one">
        <div class="top-footer">
            <div class="uk-container">
                <div class="uk-child-width-1-6@m uk-child-width-1-1" uk-grid style="justify-content:space-evenly;">
                    <div class="">
                        <h3>Download our app</h3>
                        <div class="uk-flex" id="app-banner">
                            <a href="https://huntilltest.s3.amazonaws.com/app-release.apk" ><img src="assets/images/google_play.png" class="w-100" alt=""></a>
                            <a ><img src="assets/images/apple_appstore.png" class="w-100 uk-margin-small-left"alt=""></a>
                          
                        </div>
                        <button  role="button"
                        style="background: #fff; border: 2px solid #3EB489	;  margin: 2px;">
                            <div id="google_translate_element" style="margin-right: 15px; "></div>
                        </button> &nbsp;
                        <div class="social-icon">
                            <ul id="social-links">
                                <li><a class="" style="background-color: #3EB489" id="minusBtn" onclick="minus()">A-</a></li>
                                <li><a class="" style="background-color: #E77471" id="defaultBtn" onclick="normal()">A</a></li> 
                                <li><a class="" style="background-color: #307D7E"  id="plusBtn" onclick="plus()">A+</a></li>
                            </ul>
                        </div>
                    </div>
                   
                    <!-- End of .col-sm-3 -->
                    
                    <div class="">
                        <ul>
                            <li>
                                <h3>Navigation</h3>
                            </li>
                            <li><a routerLink="/about"> About Us</a></li>
                            <li><a routerLink="/masterPlan">Career</a></li>
                            <li><a routerLink="/keystatistics">Publication</a></li>
                            <li><a routerLink="/touristPlace"> RTIs</a></li>
                            <li><a routerLink="/government">Citizen Charter</a></li>
                            <li><a routerLink="/download">Contact Us</a></li>
                            <!-- <li><a routerLink="/feedback">Feedback</a></li>
                            <li><a routerLink="/sitemap">Sitemap</a></li> -->
                        </ul>
                    </div>
                        <!-- End of .col-sm-3 -->
                    <div class="">
                        <ul>
                            <li>
                                <h3>Department Links</h3>
                            </li>
                            <li><a target="_blank" href="http://website.iklmsodisha.in/" data-confirm="You are being redirected to an external website. Please note that  Bhubaneswar smartcity cannot be held responsible for external websites content & privacy policies.">Kenduleaves</a></li>
                            <li><a target="_blank" href="http://wildlife.odisha.gov.in/" data-confirm="You are being redirected to an external website. Please note that  Bhubaneswar smartcity cannot be held responsible for external websites content & privacy policies.">Wildlife</a></li>
                            <li><a target="_blank" href="https://www.ecotourodisha.com/"data-confirm="You are being redirected to an external website. Please note that Bhubaneswar smartcity cannot be held responsible for external websites content & privacy policies.">Eco-Tourism</a></li>
                            <li><a target="_blank" href="https://www.fsi.nic.in/" data-confirm="You are being redirected to an external website. Please note that Bhubaneswar smartcity cannot be held responsible for external websites content & privacy policies."> Forest Survey Of India</a></li>
                            <li><a target="_blank" href="https://moef.gov.in/en/"              data-confirm="You are being redirected to an external website. Please note that Bhubaneswar smartcity cannot be held responsible for external websites content & privacy policies.">MOEF</a></li>
                            <li><a target="_blank" href="http://hrmsorissa.gov.in/" data-confirm="You are being redirected to an external website. Please note that Bhubaneswar smartcity Bhubaneswar cannot be held responsible for external websites content & privacy policies.">HRMS Odisha</a></li>
                            <li><a target="_blank" href="https://odisha.gov.in/" data-confirm="You are being redirected to an external website. Please note that  Bhubaneswar smartcity cannot be held responsible for external websites content & privacy policies.">Government of Odisha</a></li>
                        </ul>
                    </div>
                    <!-- End of .col-sm-3 -->
                    <div class="">
                        <ul>
                            <li> <h3>Information</h3>  </li>
                            <li><a routerLink="/termcondtion">Terms & Conditions</a></li>
                            <li><a routerLink="/privacypolicy">Privacy Policy</a></li>
                            <li><a routerLink="/copyright-policy">Copyright Policy</a></li>
                            <li><a routerLink="/hyperlink-policy">Hyperlinking Policy</a></li>
                            <li><a routerLink="/disclaimer">Disclaimer</a></li>

                             </ul>
                    </div>                    <!-- End of .col-sm-3 -->
                    <div class="">
                        <ul>
                            <li>
                                <h3>Address</h3>
                            </li>
                            <li>
                                <h1><img src="assets/images/logo2.png" alt="" class="img-fluid"><a class="navbar-brand logo"
                                    href="./"></a></h1>
                                <p style="margin: 0;line-height: 20px;">Address: A-84, Kharavela Nagar
                                    Bhubaneswar - 751001, Odisha, India
                                    <br>Phone: 0674 2534086, 2534269
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="" style="margin-top: 0px;">
                        <ul>
                            <li>
                                <h3>Location Map</h3>
                            </li>
                        </ul>
                        <div>
                            <a href="http://sc1Bhubaneswar.sgligis.com/design1/mapviewer/index.html"><img src="assets/images/Bhubaneswargoogle.png" width="100%" height="200"></a>
                        </div>
                       
                    </div>
                    <!-- End of .col-sm-3 -->
                </div>
            </div>
            <div id="jsScroll" class="scroll" onclick="scrollToTop();">
                <i class="fa fa-angle-up"></i>
                </div>
        <!-- end container -->
        </div>
        <div class="uk-container uk-container-expand" style="background: #282828;">
            <div class="uk-flex uk-flex-between" id="footer-note" style="padding:7px;">
                <p class="uk-margin-remove uk-light uk-text-small"><span uk-icon="desktop"></span>
                    Visitor's Count : 01</p>
                <!-- <ul class="flinks uk-flex" id="terms">
                    <li><a routerLink="/update">Terms & Conditions</a></li>
                    <li><a routerLink="/sitemap">Sitemap</a></li>
                    <li><a routerLink="/privacypolicy">Privacy Policy</a></li>
                    <li><a routerLink="/update">Disclaimer</a></li>
                </ul> -->
                <p class="uk-margin-remove uk-light uk-text-small">Last Updated on {{ currentDate | date }} By MSCL</p>
            </div>
        </div>
        
        <div class="footer-bottom">
            <h5>
                © 2021 All Rights Reserved Odisha  Forest Department
            </h5>
        </div>
    </footer>
</div>
