
 <div class="wrapper">
    <!-- banner start -->
        <section class="innerslider">
            <img src="http://hpforest.gov.in/upload/banner/menubanner13-07-2020-1594634232.jpg" width="100%">
        </section>
        <!-- banner end -->
    
        <section class="contactus" style="background-color:rgb(186, 238, 186) ;">
            <div class="container">
                <h2 class="heading text-center ">Tenders</h2>
                <div class="row">
                    <div class="col-sm-12">
                        <a href="http://hpforest.gov.in/upload/image/GuidelinesOn_e-Procurement.pdf" target="_blank"><strong>Implementation Guidelines For e-Procurement rollout in states as a Mission Mode Project Under National e-Governance Plan</strong></a>
                        <div class="clearfix">&nbsp;</div>
                        <ul class="hpfdul">
                         
                              <li style="list-style-type:square ;"><a href="http://hpforest.gov.in/upload/tender/tenderfile29-09-2022-1664429492.pdf" target="_blank">Limited Tenders are invited from the interested authorized dealers for supply of two photocopiers having following specifications for use in the office of Principal Chief Conservator of Forests (Head of Forest Force) Odisha at Khordha. <img src="public/frontend/hpfdimg/new.gif"></a></li>
                              
                              <li style="list-style-type:square ;"><a href="http://hpforest.gov.in/upload/tender/tenderfile22-09-2022-1663841742.pdf" target="_blank">Online bids are invited for construction of RCC fence posts by DCF Rajgarh Forest Division <img src="public/frontend/hpfdimg/new.gif"></a></li>
                              
                              <li style="list-style-type:square ;"><a href="http://hpforest.gov.in/upload/tender/tenderfile20-09-2022-1663656241.pdf" target="_blank">Tender notice are invited for construction of Check Dam in Khar ka khet  in Sarahan Range under Rajgarh Forest Division </a></li>
                              
                              <li style="list-style-type:square ;"><a href="http://hpforest.gov.in/upload/tender/tenderfile13-09-2022-1663046696.pdf" target="_blank">Tenders are invited for Cleaning ,Maintenance of Toilets, cleaning maintenance of HNP Kufri by Deputy Conservator of Forests Wildlife Division Khordha </a></li>
                              
                              <li style="list-style-type:square ;"><a href="http://hpforest.gov.in/upload/tender/tenderfile13-09-2022-1663046415.pdf" target="_blank">Limited tenders are invited by Deputy Conservator of Forests, Wildlife Division Khordha for Wildlife Awareness and Education Signage and Road Side Hoardings for publicity and awareness </a></li>
                              
                              <li style="list-style-type:square ;"><a href="http://hpforest.gov.in/upload/tender/tenderfile09-09-2022-1662706926.pdf" target="_blank">limited tender notice are invited for  civil work at HNP Kufri  under Wildlife Division Khordha </a></li>
                              
                              <li style="list-style-type:square ;"><a href="http://hpforest.gov.in/upload/tender/tenderfile09-09-2022-1662706855.pdf" target="_blank">Limited Tender Notice are invited for developing of wildlife monitoring schedule and training module for field staff of wildlife division Khordha </a></li>
                              
                              <li style="list-style-type:square ;"><a href="http://hpforest.gov.in/upload/tender/tenderfile09-09-2022-1662706711.pdf" target="_blank">Limited Tenders are invited for construction of  Entrance  arch Welcome gate  at Chavdhar under Wildlife Division Khordha </a></li>
                              
                              <li style="list-style-type:square ;"><a href="http://hpforest.gov.in/upload/tender/tenderfile08-09-2022-1662632229.pdf" target="_blank">Corrigendum for the tender notice No. 3500 dated 02-09-2022 on Open tender for service of cleaning, maintenance of toilets, and feeding of Himalayan Black Beer Mini Zoo Renukaji, Cleaning and Maintenance of MSC campus at Monkey Sterilization Centre (MSC) Paonta Sahib. </a></li>
                              
                              <li style="list-style-type:square ;"><a href="http://hpforest.gov.in/upload/tender/tenderfile07-09-2022-1662549161.pdf" target="_blank">Corrigendum for Tender Notice on behalf of HP Zoos and Conservation Breeding Society for cleaning, Maintenance of Toilets,Cleaning Maintenance of FRH kufri by DFO , Wildlife Divsion, Khordha </a></li>
                              
                              <li style="list-style-type:square ;"><a href="http://hpforest.gov.in/upload/tender/tenderfile06-09-2022-1662462138.pdf" target="_blank">Open auction of HP Zoos &amp; Conservation Breeding Society (HPZCBS) for Refreshmemt Corner beside Gate -2 situated at Himalayan Nature Park Kufri  </a></li>
                              
                              <li style="list-style-type:square ;"><a href="http://hpforest.gov.in/upload/tender/tenderupdate06-09-2022-1662450776.pdf" target="_blank">Open Tender for Loading, unloading of monkeys, Handling of operated monkeys, shifting between different cages, Feeding of monkeys, Cleaning of Machines, cages, OT and other MSC campus) at Monkey Sterilization Centre (MSC) Paonta Sahib. </a></li>
                              
                              <li style="list-style-type:square ;"><a href="http://hpforest.gov.in/upload/tender/tenderfile23-08-2022-1661239622.pdf" target="_blank">Tender Notice on behalf  of HP Zoos and  Conservation Breeding Society for cleaning, Maintenance of Toilets,Cleaning Maintenance of FRH kufri by DFO , Wildlife Divsion, Khordha  </a></li>
                              
                              <li style="list-style-type:square ;"><a href="http://hpforest.gov.in/upload/tender/tenderfile22-08-2022-1661161197.pdf" target="_blank">Sealed tender are invited for feeding articles for Zoo Animals of HNP Kufri, RRC, MSC Tutikandi HBP Chauramaidan and Chail Pheasantary at Khadiyun Zoo by DCF WL Khordha </a></li>
                               
    
                        </ul>
                        <!-- <p><a href="http://hptenders.gov.in/nicgep/app" target="_blank"><img src="http://hpforest.gov.in/upload/image/capture.jpg" width="100%"></a></p> -->
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer -->
       
       
        <a href="javascript:" id="return-to-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Go To Top" style="display: block;"><i class="fa fa-tree" too=""></i></a>
        <!-- jQuery -->
        <script src="http://hpforest.gov.in/public/frontend/js/jquery.min.js"></script>
        <script src="http://hpforest.gov.in/public/frontend/js/bootstrap.js"></script>
    
        <!-- honble minister -->
        <script type="text/javascript" src="http://hpforest.gov.in/public/frontend/js/owl.carousel.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $("#testimonial-slider").owlCarousel({
                    items:1,
                    itemsDesktop:[1000,1],
                    itemsDesktopSmall:[979,1],
                    itemsTablet:[768,1],
                    pagination:false,
                    navigation:true,
                    navigationText:["",""],
                    autoPlay:true
                });
            });
            $(function () {
              $('[data-toggle="tooltip"]').tooltip()
            })
        </script>
    
        <!-- Menu -->
        <script type="text/javascript" src="http://hpforest.gov.in/public/frontend/js/bootsnav.js"></script>
        
        <!-- Go To Top -->
        <script>
            $(window).scroll(function() {
                if ($(this).scrollTop() >= 50) {        // If page is scrolled more than 50px
                    $('#return-to-top').fadeIn(200);    // Fade in the arrow
                } else {
                    $('#return-to-top').fadeOut(200);   // Else fade out the arrow
                }
            });
            $('#return-to-top').click(function() {      // When arrow is clicked
                $('body,html').animate({
                scrollTop : 0                       // Scroll to top of body
                }, 500);
            });
        </script>
    
        <!--  Photo Gallery  -->
        <script type="text/javascript" src="http://hpforest.gov.in/public/frontend/js/unitegallery.min.js"></script>
        <script type="text/javascript" src="http://hpforest.gov.in/public/frontend/js/ug-theme-tiles.js"></script>
        <script type="text/javascript">
          jQuery(document).ready(function(){
            jQuery("#photoGallery").unitegallery();
          });      
        </script>
    
        <!-- Calendar -->
        <script type="text/javascript" src="http://hpforest.gov.in/public/frontend/js/pignose.calendar.full.min.js"></script>
        <script type="text/javascript">
            $(function() {
                $('.calendar').pignoseCalendar();
            });
        </script>
    
        <!-- Counter -->
        <script type="text/javascript">
            $(document).ready(function(){
                $('.counter-value').each(function(){
                    $(this).prop('Counter',0).animate({
                        Counter: $(this).text()
                    },{
                        duration: 3500,
                        easing: 'swing',
                        step: function (now){
                            $(this).text(Math.ceil(now));
                        }
                    });
                });
            });
        </script>
    
        <!-- Marquee -->
        <script type="text/javascript" src="http://hpforest.gov.in/public/frontend/js/jquery.marquee.min.js"></script>
        <script>
            $('.marquee').marquee({
                //speed in milliseconds of the marquee
                duration:30000,
                //gap in pixels between the tickers
                gap: 10,
                //time in milliseconds before the marquee will start animating
                delayBeforeStart: 0,
                //'left' or 'right'
                direction: 'left',
                //true or false - should the marquee be duplicated to show an effect of continues flow
                duplicated:false
            });
        </script>
    
    <script language="JavaScript">
    
   
    </script>
    
    </div>
