<section class="uk-section-small" id="login-section">
    <div class="login">
        <ul class="uk-subnav uk-subnav-pill uk-flex uk-flex-center" uk-switcher="animation: uk-animation-fade">
            <li><a href="#">User</a></li>
            <li><a href="#">Department</a></li>
        </ul>
        <ul class="uk-switcher uk-margin">
            <li>
                <!-- <app-log-in></app-log-in>               -->
            </li>
            <li>
                <!-- <app-dept-log-in></app-dept-log-in>                 -->
            </li>
        </ul>
    </div>
</section>