<section class="innbanner">
    <h2>Famous Places</h2>
    </section>
    <section class="uk-section-small">
    <div class="uk-container" id="image-galary-place">
    <div class="row">
        <div class="row image-row image-bar">
            <div class="col-lg-4 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" data-toggle="modal" data-title=""
                   data-target="#image-gallery1">
                    <img class="img-thumbnail gal"
                         src="assets/images/2018082793-olw9wvxbfq1pnv1x48mnzwpwmyhx7h6ckfz5r1lczm.jpg"
                         alt="Another alt text">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-6 thumb">
                <a class="thumbnail"data-toggle="modal" data-title=""
                   data-target="#image-gallery2">
                    <img class="img-thumbnail gal"
                         src="assets/images/g2.png"
                         alt="Another alt text">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" data-toggle="modal" data-title=""
                   data-image=""
                   data-target="#image-gallery3">
                    <img class="img-thumbnail gal"
                         src="assets/images/g3.png"
                         alt="Another alt text">
                </a>
            </div>
        </div>
        <div class="modal fade" id="image-gallery1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="image-gallery-title"></h4>
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img id="image-gallery-image" class="img-responsive col-md-12" src="assets/images/2018082793-olw9wvxbfq1pnv1x48mnzwpwmyhx7h6ckfz5r1lczm.jpg">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="image-gallery2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="image-gallery-title"></h4>
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img id="image-gallery-image" class="img-responsive col-md-12" src="assets/images/g2.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="image-gallery3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="image-gallery-title"></h4>
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img id="image-gallery-image" class="img-responsive col-md-12" src="assets/images/g3.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row  uk-margin-top image-row" >
        <div class="row image-bar" >
            <div class="col-lg-4 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" data-toggle="modal" data-title=""
                   data-target="#image-gallery1">
                    <img class="img-thumbnail gal"
                         src="assets/images/2018082793-olw9wvxbfq1pnv1x48mnzwpwmyhx7h6ckfz5r1lczm.jpg"
                         alt="Another alt text">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-6 thumb">
                <a class="thumbnail"data-toggle="modal" data-title=""
                   data-target="#image-gallery2">
                    <img class="img-thumbnail gal"
                         src="assets/images/g2.png"
                         alt="Another alt text">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" data-toggle="modal" data-title=""
                   data-image=""
                   data-target="#image-gallery3">
                    <img class="img-thumbnail gal"
                         src="assets/images/g3.png"
                         alt="Another alt text">
                </a>
            </div>
        </div>
        <div class="modal fade" id="image-gallery1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="image-gallery-title"></h4>
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img id="image-gallery-image" class="img-responsive col-md-12" src="assets/images/2018082793-olw9wvxbfq1pnv1x48mnzwpwmyhx7h6ckfz5r1lczm.jpg">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="image-gallery2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="image-gallery-title"></h4>
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img id="image-gallery-image" class="img-responsive col-md-12" src="assets/images/g2.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="image-gallery3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="image-gallery-title"></h4>
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img id="image-gallery-image" class="img-responsive col-md-12" src="assets/images/g3.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row uk-margin-top image-row">
        <div class="row image-bar">
            <div class="col-lg-4 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" data-toggle="modal" data-title=""
                   data-target="#image-gallery1">
                    <img class="img-thumbnail gal"
                         src="assets/images/2018082793-olw9wvxbfq1pnv1x48mnzwpwmyhx7h6ckfz5r1lczm.jpg"
                         alt="Another alt text">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-6 thumb">
                <a class="thumbnail"data-toggle="modal" data-title=""
                   data-target="#image-gallery2">
                    <img class="img-thumbnail gal"
                         src="assets/images/g2.png"
                         alt="Another alt text">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" data-toggle="modal" data-title=""
                   data-image=""
                   data-target="#image-gallery3">
                    <img class="img-thumbnail gal"
                         src="assets/images/g3.png"
                         alt="Another alt text">
                </a>
            </div>
        </div>
        <div class="modal fade" id="image-gallery1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="image-gallery-title"></h4>
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img id="image-gallery-image" class="img-responsive col-md-12" src="assets/images/2018082793-olw9wvxbfq1pnv1x48mnzwpwmyhx7h6ckfz5r1lczm.jpg">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="image-gallery2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="image-gallery-title"></h4>
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img id="image-gallery-image" class="img-responsive col-md-12" src="assets/images/g2.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="image-gallery3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="image-gallery-title"></h4>
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img id="image-gallery-image" class="img-responsive col-md-12" src="assets/images/g3.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row uk-margin-top image-row">
        <div class="row image-bar" >
            <div class="col-lg-4 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" data-toggle="modal" data-title=""
                   data-target="#image-gallery1">
                    <img class="img-thumbnail gal"
                         src="assets/images/2018082793-olw9wvxbfq1pnv1x48mnzwpwmyhx7h6ckfz5r1lczm.jpg"
                         alt="Another alt text">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-6 thumb">
                <a class="thumbnail"data-toggle="modal" data-title=""
                   data-target="#image-gallery2">
                    <img class="img-thumbnail gal"
                         src="assets/images/g2.png"
                         alt="Another alt text">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" data-toggle="modal" data-title=""
                   data-image=""
                   data-target="#image-gallery3">
                    <img class="img-thumbnail gal"
                         src="assets/images/g3.png"
                         alt="Another alt text">
                </a>
            </div>
        </div>
        <div class="modal fade" id="image-gallery1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="image-gallery-title"></h4>
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img id="image-gallery-image" class="img-responsive col-md-12" src="assets/images/2018082793-olw9wvxbfq1pnv1x48mnzwpwmyhx7h6ckfz5r1lczm.jpg">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="image-gallery2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="image-gallery-title"></h4>
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img id="image-gallery-image" class="img-responsive col-md-12" src="assets/images/g2.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="image-gallery3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="image-gallery-title"></h4>
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img id="image-gallery-image" class="img-responsive col-md-12" src="assets/images/g3.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </section>
    