<section class="innbanner">
    <img src="assets/images/slider1.png">
    <h2>Message From Authority</h2>

</section>

<section id="master-plan" class="about-us">
    <div class="container">
        <h2 class="main-title">Message From Chairman </h2>
        <div class="row">
            <div class="col-md-4">
                <img src="assets/images/DC_anjaneya-kumarsingh.jpeg" class="img-responsive"
                alt="Moradabad development authority Master Plan 2021"><br><br>
                <h5 style="color: teal;">Mr. Anjaneya Kumar Singh</h5>
                <h6 style="color: blue;">Divisional Commisioner Moradabad </h6>
                <h6 style="color: blue;margin-left:50px ;">(Chairman MSCL)</h6>
            </div>
            <div class="col-md-8">
                <p align="justify">Moradabad, popularly known as “Peetal Nagri”, has potential to develop as leader in Brass Industry, E-Waste treatment and logistic sector. Moradabad has good economic establishment and need to develop the sustainable models to promote industrial environment supportive methods keeping artisans health, pollution reduction and lower production cost in focus.</p>
            </div>
        </div>
      
    </div>
    <div class="container">
        <h2 class="main-title">Message From CEO</h2>
        <div class="row">
            <div class="col-md-4">
                <img src="assets/images/ceo-smartcity.jpg" class="img-responsive"
                alt="Moradabad development authority Master Plan 2021"><br><br>
                <h5 style="color: teal;margin-left: 30px;">Mr. Sanjay Chauhan</h5>
                <h6 style="color: blue;margin-left: 30px;">CEO Smartcity Moradabad</h6>
            </div>
            <div class="col-md-8">
                <p align="justify">Moradabad Smart City Limited (MSCL) is a Special Purpose Vehicle (SPV) created with representation from all major stakeholders from the city of Moradabad, as per the Government of India’s Smart City guidelines.</p>
                        <p>This SPV is responsible for the implementation of projects under the smart city mission. This SPV shall carry end to end responsibility for vendor selection, implementation, and operationalization of various smart city projects. PMC will support the SPV for executing the tendering process for the selection of the implementation partner. Thereafter, during the implementation phase and SPV be responsible for carrying out the review of detailed design, deployment, acceptance testing and providing support during the final acceptance tests.</p>
                        
                        <p>During the O&M phase, the SPV will engage the PMC with the responsibility to review the maintenance and operations and driving the adoption of the projects.</p>
            </div>
        </div>
    </div>
</section>
