<section class="innbanner">
    <h2>Events</h2>
    </section>
    <section class="uk-section-small">
    <div class="uk-container">
    <div class="uk-child-width-1-4@m uk-child-width-1-2 gallery uk-grid-small" uk-grid uk-lightbox="animation: slide">
    <div>
        <a class="uk-inline" href="images/images.jpg" data-caption="Caption 1">
            <img src="assets/images/images.jpg" alt="">
        </a>
    </div>
    <div>
        <a class="uk-inline" href="images/index.jpg" data-caption="Caption 2">
            <img src="assets/images/index.jpg" alt="">
        </a>
    </div>
    <div>
        <a class="uk-inline" href="images/nopreview.jpg" data-caption="Caption 3">
            <img src="assets/images/nopreview.jpg" alt="">
        </a>
    </div>
    <div>
        <a class="uk-inline" href="images/images2.jpg" data-caption="Caption 3">
            <img src="assets/images/images2.jpg" alt="">
        </a>
    </div>
    <div>
        <a class="uk-inline" href="images/images.jpg" data-caption="Caption 1">
            <img src="assets/images/images.jpg" alt="">
        </a>
    </div>
    <div>
        <a class="uk-inline" href="images/index.jpg" data-caption="Caption 2">
            <img src="assets/images/index.jpg" alt="">
        </a>
    </div>
    <div>
        <a class="uk-inline" href="images/nopreview.jpg" data-caption="Caption 3">
            <img src="assets/images/nopreview.jpg" alt="">
        </a>
    </div>
    <div>
        <a class="uk-inline" href="images/images2.jpg" data-caption="Caption 3">
            <img src="assets/images/images2.jpg" alt="">
        </a>
    </div>
    <div>
        <a class="uk-inline" href="images/images.jpg" data-caption="Caption 1">
            <img src="assets/images/images.jpg" alt="">
        </a>
    </div>
    <div>
        <a class="uk-inline" href="images/index.jpg" data-caption="Caption 2">
            <img src="assets/images/index.jpg" alt="">
        </a>
    </div>
    <div>
        <a class="uk-inline" href="images/nopreview.jpg" data-caption="Caption 3">
            <img src="assets/images/nopreview.jpg" alt="">
        </a>
    </div>
    <div>
        <a class="uk-inline" href="images/images2.jpg" data-caption="Caption 3">
            <img src="assets/images/images2.jpg" alt="">
        </a>
    </div>
    </div>
    </div>
    </section>