<section class="innbanner">
    <img src="assets/images/tender.jpg">
    <h2>Tender</h2>
</section>
<section>
    <div>
        <!-- <img src="assets/images/transport.png" width="100%" class="topimage"> -->
        <div class="container-fluid uk-position-relative panel-heading">
            <div class="panel-heading afterLoginPanelHeading">
                Tender
            </div>
            
            <div class="serice-item-list">
                <div class="headname">
                    <span>
                        <span>
                              <img src="assets/images/pdf.png"/>
                         </span>
                            
                       
                            <span style="font-size: 16px;">Notice-1<br>5.5 MBTendernotice_1.pdf</span>  
                    </span>
                    <a (click)="downloadMyFile()">
                    <i class="fa fa-download tenderdownload" style="float: right;"></i></a>
                    <h6 style="color: #848484;">RFP Volume 2 detailed scope of work for Establishment of ICCC and Other Integrated Smart Solutions at Moradabad City.</h6>
                <hr>
                <span>
                    <span><img src="assets/images/pdf.png"/></span>                
                         <span style="font-size: 16px;">Notice-1<br>5.5 MBTendernotice_2.pdf</span>
                
                </span>
                       <a (click)="downloadMyFile()">
                      <i class="fa fa-download tenderdownload" style="float: right;"></i></a>
                     <h6 style="color: #848484;">RFP Volume 2 detailed scope of work for Establishment of ICCC and Other Integrated Smart Solutions at Moradabad City.</h6>
                   <hr>
                <span>
                    <span>
                        <img src="assets/images/pdf.png"/></span>
                        <span style="font-size: 16px;">Notice-1<br>5.5 MBTendernotice_3.pdf</span>
                    </span>
                    <a (click)="downloadMyFile()">
                        <i class="fa fa-download tenderdownload" style="float: right;"></i></a>
                    <h6 style="color: #848484;">RFP Volume 2 detailed scope of work for Establishment of ICCC and Other Integrated Smart Solutions at Moradabad City.</h6>
                   <hr>
                <span>
                    <span>
                        <img src="assets/images/pdf.png"/></span>
                         <span style="font-size: 16px;">Notice-1<br>5.5 MBTendernotice_4.pdf</span>

                </span>
                <a (click)="downloadMyFile()">
                    <i class="fa fa-download tenderdownload" style="float: right;"></i></a>
                            <h6 style="color: #848484;">Notice inviting tender document with basic details.</h6>
                          <hr>
                </div>
            </div>
        </div>
        
    </div>   
</section>