<section class="innbanner">
    <h2 id="backdrop">HEALTH</h2>
</section>
<section class="uk-section-small">
    <div class="uk-container">
        <div class="uk-width-expand@m uk-width-1-1">
            <h4>HEALTH</h4>
            <p>DIAL 108 to call ambulance anywhere DIAL 102 to call ambulance for pregnant ladies National 
                Health Helpline Toll free Number: 1800-180-1104 (NHP Voice Web)Toll free helpline number 1800-180-5145 for 
                government hospital patientsDepartment of Medical, Health and Family Welfare, Government of Uttar Pradesh,
                 is playing a vital role in improving the health status & quality of living of the People of Uttar Pradesh.
                 With the objective of providing health services in Urban and Remote areas, the department provides medical 
                 services in the state of Uttar Pradesh.For monitoring medical related activities in Moradabad at district 
                 level Chief Medical Officer(CMO) is responsible for all the works related to this department. He also is
                  the in-charge of the District Hospital. For his assistance there is C.M.S. Lady to take care of District
                   women’s hospital, Supervisor Eye hospital and several other workers.</p>
            <h4>Health Department’ Key Contacts of District Moradabad</h4>
            <ul>
                <li style="padding: 7px;">Chief Medical Officer (CMO), Moradabad- 8005192685</li>
                <li style="padding: 7px;">Chief Medical Superintendent (CMS),Male  – 9412746102</li>
                <li style="padding: 7px;">Chief Medical Superintendent (CMS), Women – 8005192818</li>
            </ul><br>
            <p>Health department is further divided into 3 categories:</p>
            <h4>Allopathy:</h4>
            <p>It is a system of medical practice that aims to combat disease by the use of remedies producing effects. 
                The main aim of this department is to provide vaccination to the people against various diseases like swine flu etc.
                 to prevent the disease. It also helps provide help in under nourished children</p>
            <h4>Homeopathy:</h4>
            <p>It is a system of medical practice in which ailments are treated by minute doses of natural substances in larger amounts,
                 which produce symptoms of the ailment. This department is managed by District Homeopathic Officer.</p>
            <h4>Ayurveda:</h4>
            <p>Ayurveda, which literally means the science of life (Ayur = Life, Veda = Science), Ayurveda is an ancient medical 
                science which was developed in India thousands of years ago.This department is managed by district Ayurvedic Officer.</p>
            <h4>Ambulance Service</h4>
            <p>108 is predominantly an emergency response system, primarily designed to attend to patients of critical care,
                 trauma and accident victims etc.
                102 services essentially consist of basic patient transport aimed to cater the needs of pregnant women and 
                children though other categories are also taking benefit and are not excluded. JSSK entitlements e.g. free 
                transfer from home to facility, inter facility transfer in case of referral and drop back for mother and children 
                are the key focus of 102 service.</p>
            <h4>Local Medical Institutions</h4>
            <p>At the local governance level, there are CHCs and PHCs to assist the citizens. CHC stands for Community Health Centre having a bed capacity of 30,
                 PHC stands for Primary Health Centre and SHC stand for Sub-Health Centre.</p>
            <h4>Objectives Of Community Health Centers</h4>
            <p>To make available medical treatment and the related facilities for citizens.</p>
            <p>To provide appropriate advice, treatment and support that would help to cure the ailment to the extent medically possible.</p>
            <p>To ensure that treatment is best on well-considered judgment, is timely and comprehensive and with the consent of the citizen being treated.</p>
            <p>To ensure you just awareness of the nature of the ailment, progress of treatment, duration of treatment and impact on their health and lives, 
                and to reduce any grievances in this regard.</p>
            <p>The CHC in Moradabad District has OPD timings : 8 am – 2 pm</p>
            <p>Emergency – 24 hrs</p>
            <p>It has various facilities like:</p>
            <ul class="healthcontent">
                <li>OPD Services for Indoor Patients</li>
                <li>Test Facilities</li>
                <li>X-Ray facilities</li>
                <li>Operation facilities</li>
                <li>Ambulance facility (108,102)</li>
                <li>Abortion</li>
                <li>Delivery</li>
                <li>Required/ Complicated delivery</li>
                <li>Immunization</li>
                <li>Complaint Book</li>
                <li>Eye Cure</li>
                <li>Leprosy cure</li>
                <li>Immunization of TB, Polio, Diphtheria, Tetanus, Whooping Cough and Measles
                    in Infants.</li>
                <li>Publicity of AIDS.</li>
                <li>Registration of death and birth.</li>
                <li>Free Oral Contraceptive pills, Condom Pieces.</li>
            </ul>
            <h4>Schemes of Health Department JananiSuraksha Yojana</h4>
            <p>JananiSuraksha Yojana (JSY) is a safe motherhood intervention under the National Rural Health Mission (NHM).
               It is being implemented with the objective of reducing maternal and neonatal mortality by promoting 
               institutional delivery among poor pregnant women. The scheme is under implementation in all states and
                Union Territories (UTs), with a special focus on Low Performing States (LPS).</p>
                <h4>JananiShishuSurakshaKaryakaram (JSSK)</h4>
                <p>Government of India has launched JananiShishuSurakshaKaryakaram (JSSK) on 1st June, 2011.
                   The scheme is estimated to benefit more than 12 million pregnant women who access Government 
                   health facilities for their delivery. Moreover it will motivate those who still choose to deliver at 
                   their homes to opt for institutional deliveries. It is an initiative with a hope that states would come 
                   forward and ensure that benefits under JSSK would reach every needy pregnant woman coming to government 
                   institutional facility. All the States and UTs have initiated implementation of the scheme.</p>
                   <p>http://nrhm.gov.in/janani-shishu-suraksha-karyakram.html</p>
                   <h4>RashtriyaBalSwasthyaKaryakram (RBSK)</h4>
                   <p>Under National Rural Health Mission, significant progress has been made in reducing mortality 
                     in children over the last seven years (2005-12). Whereas there is an advance in reducing child
                      mortality there is a dire need to improving survival outcome. This would be reached by early
                       detection and management of conditions that were not addressed comprehensively in the past.</p>
        </div>
    </div>
</section>

